[2013-10-17 21:43] CharliePoole opened #1 "Error in Test Discovery"
Tests implemented in files that are not in projects root folder do not apear in Test Explorer window and are not runned during "run all" nor durng "run tests" from context menu of the file containing tests.

See discussion at https://bugs.launchpad.net/nunit-vs-adapter/+bug/1074130

[2013-10-17 21:53] CharliePoole opened #2 "Failing Debug Tests do not break into debugger in VS"
When Debugging a failing synchronous unit test, Visual Studio will break into the debugger as the Exception is thrown (with break on exceptions set to User-Unhandled). However, with an async nunit test, it looks like the exception is being swallowed by the test runner and does not cause VS to break. Setting break on exceptions to "Thrown" WILL cause it to break.

Sample Code:

[code]

Instructions

[2013-10-17 21:57] CharliePoole opened #3 "Failure on tests parameterized with long strings"
From https://bugs.launchpad.net/nunit-vs-adapter/+bug/1065462 which includes some discussion.

See https://github.com/nunit/nunit-framework/issues/59 for the underlying NUnit issue.

[2013-10-17 22:01] CharliePoole opened #4 "Support tests that are not methods"
I have written an addin which allows me to write field tests instead of tests being methods. I can navigate to where the assertions failed just fine due to console output and stack traces, but there is no source information available for passed tests or failures (in the way NUnit supplies). I believe the issue may be here: http://bazaar.launchpad.net/~nunit-vs-team/nunit-vs-adapter/trunk/view/head

[2013-10-17 22:06] CharliePoole opened #5 "Adapter does not detect multiple tests when using arrays in testcase"
Test Explorer only shows one test, given the following method.

[code]

Changing the first int in one of the test cases causes Explorer to show two test:

[code]

Used "install-package NUnitTestAdapter.WithFramework" to install version 0.96 on Visual Studio 2012 Update 3.

NUnit gui shows two test in both of the above scenarios.

For more info see https://bugs.launchpad.net/nunit-vs-adapter/+bug/1

[2013-10-17 22:11] CharliePoole opened #6 "Tests inherited from Generic test fixture"
In case, when TestFixture inherits from (generic) class, which contains tests,

1) the tests in inherited class and the base class are displayed separately
2) "Browse th source" for tests in base class is not available

example:

[code]

<sup>[jnm2—edited to add code fences so that generics weren't interpreted as HTML elements]</sup>

Instead of showing two tests for DocumentTests, one test for Do

[2013-10-17 22:14] CharliePoole opened #7 "Unable to disable shadow copy"
We've got tests that load DLLs dynamically, and the shadow copy mechanism within NUnit fails to copy these DLLs to the temporary directory where the test are run from.

The simple work around we've been using in NUnit (as well as Reshaprer's NUinit runner) is to disable shadow copy in the options.

The NUnit Test Adapter for Visual Studio doesn't allow us to disable Shadow Copy and therefore preve

[2013-10-18 03:19] CharliePoole opened #8 "Unable to disable shadow copy"
We've got tests that load DLLs dynamically, and the shadow copy mechanism within NUnit fails to copy these DLLs to the temporary directory where the test are run from.

The simple work around we've been using in NUnit (as well as Reshaprer's NUinit runner) is to disable shadow copy in the options.

The NUnit Test Adapter for Visual Studio doesn't allow us to disable Shadow Copy and therefore preve

[2013-10-18 03:22] CharliePoole opened #9 "Test Adapter does not find addins"
We are trying to write an NUnit plugin for FsCheck (github.com/fsharp/fscheck). The addin works fine with the standalone test runner, although it is not shown in the addin dialog. According to this converstaion in the mailing list, this is because the addin is built with .NET 4.0:

https://groups.google.com/forum/#!topic/nunit-discuss/je0VXIsVQNQ

The addin is also written and compiled using F# (3

[2013-10-18 03:26] CharliePoole opened #10 "Feature request : enable diagnostic logging"
Hello, I've been trying to enable a good size project to use the NUnit Test Adapter under TFS Build (0.96).

Some of the tests have been hanging on the build machine. I've not been able to see anything useful from the NUnit Test Adapter in the vstest logs that we turned on to try to diagnose the problem. The adapter also appears not to be aware of the timeout information in the .testsettings file

[2013-10-18 03:31] CharliePoole opened #11 ""Assembly not supported" for .NET 3.5 test project when extension directory contains .NET 4+ assembly"
We are having problem with the test adapter in our TFS build environment. Here are the versions used:
- NUnit version 2.6.2
- NUnit test adapter version 0.96.0.4
- Visual Studio 2012 update 3
- TFS 2012 update 1

Here are the steps to reproduce:
- Create a .NET 3.5 class library project with at lease one NUNit test. In this example it is called "aaa.bbb.Tests.dll"
- Configure your build environmen

[2013-10-18 03:32] CharliePoole opened #12 "Async tests not fully supported"
When running async tests in visual studio the source is not visible when double clicking on the test. Also code coverage is not working for async tests. Also async tests take an extremely long time to run like 15+ seconds even though the execution time shows a very short time like 1ms.

See discussion at https://bugs.launchpad.net/nunit-vs-adapter/+bug/1221947

[2013-10-18 03:34] CharliePoole opened #13 "Category attribute not working with TFS test case filter"
I have a NUnit test marked with the following:
[Category("TFSFriendly")]

In TFS build definition I have the following value for Test Case Filter:
TestCategory=TFSFriendly

I would expect that this would result in only my one test being run during TFS Build. However, no tests are run. I know that other settings related to tests and all other configuration are okay because if I remove the filter, a

[2013-10-19 02:52] CharliePoole opened #14 "CI Server for nunit-vs-adapter"
We'll need to determine where to run this. Since it's VS-dependent, we may need to put it on team server.

[2013-10-27 04:00] CharliePoole opened #15 "Random parameter values cause tests to be not run"
Any use of Random, including our RandomAttribute, in the generation of a test case causes the test to be listed as not run in the TestExplorer window. The same tests run as expected in the NUnit runners.

See https://bugs.launchpad.net/nunit-vs-adapter/+bug/1242315 for more info.

[2013-10-28 16:25] #8 closed, assigned to nobody

[2013-10-29 15:40] jclapis opened #16 "Visual Studio Test Adapter doesn't find tests in x64 projects"
[EDIT] Never mind, this was a problem with my VS configuration. I fixed it by going to the Test menu -> Test Settings -> Default Processor Architecture -> x64. Sorry for the trouble, please close this ticket.

I'm using the Test Adapter from the VS Extensions menu, v1.0.0.0.

One of my projects must be compiled as x64, and the Test Adapter doesn't find any of the tests in that project. Switching i

[2013-10-31 19:17] NightOwl888 opened #17 "Visual Studio adapter doesn't find unit tests when test assembly references MVC 5"
The title about explains it. I reference MVC 5 and the tests no longer appear. I change the reference to MVC 4 (via NuGet) and it works, with all other settings exactly the same.

I am using the vs adapter 1.0.0.0, VS 2012 Professional, and .NET framework 4.5 in the test project.

I also tried loading the test project in the GUI, but get the exception:

Stack Trace:

[code]

[2013-11-03 14:24] #16 closed, assigned to nobody

[2013-11-04 21:02] #13 closed, assigned to OsirisTerje

[2013-11-06 13:48] GoppeltM opened #18 "TestCaseFilter returns zero tests"
Tested with NUnit Test Adapter V1.0

Visual Studio 2012 also introduced a new command line for the test engine called vstest.console
(see also http://msdn.microsoft.com/en-us/library/vstudio/jj155796.aspx)

With this, it is possible to automate Test runs. Without any additional parameters, it executes all the tests, which works perfectly fine with NUnit projects as well. It has two main options to

[2013-11-06 13:49] GoppeltM opened #19 "test class grouping broken when using inheritance"
Tested with Test Adapter Release 1.0
Since VS2012 Update 2, you can also group unit tests via Class name. However, when using inheritance, sub classes are grouped via their parent name.
Example:
class Parent
   <Test> Sub DoSth()
End Class
Class Child
   inherits Parent
End Class
DoSth() will turn up two times in the test explorer - in two categories, both called "Parent".
This might or might not

[2013-11-06 15:35] #18 closed, assigned to nobody

[2013-11-08 15:04] #17 closed, assigned to nobody

[2013-11-10 00:43] #2 closed, assigned to OsirisTerje

[2013-12-02 12:13] GoppeltM opened #20 "Customization of test case name generation"
--> Moving to NUnit Framework

It's definitely more a feature request than a bug... but nonetheless:

I have a TestCaseSource that returns a collection of XElements, i.e. XML nodes. Because by default the test case generation calls ToString on each parameter, the final test name looks quite ugly:
DoSth("<root><MyNode myAttribute="myTestCaseName"/></root>) ... or worse

So, to overwrite this behavi

[2013-12-02 12:48] #20 closed, assigned to nobody

[2013-12-09 14:50] clairernovotny opened #21 "Xamarin.iOS Nunit project causes adapter to throw"
The VS test adapter seems to choke on MonoTouch libraries in the solution:

------ Discover test started ------
NUnit 1.0.0.0 discovering tests is started
Dependent Assembly monotouch, Version=0.0.0.0, Culture=neutral, PublicKeyToken=84e04ff9cfb79065 of C:\Users\Oren\Source\Main\Core.iOS.Tests\bin\iPhoneSimulator\Debug\CoreiOSTests.exe not found. Can be ignored if not a NUnit project.
Exception th

[2014-02-03 06:08] corliss opened #22 "NUnit test cases not run from inherited class."
I found a stackoverflow [question](http://stackoverflow.com/questions/14505548/nunit-test-cases-not-run-from-inherited-class) that discusses this very issue.
That question has to do with the ReSharper test runner, but the same buggy behavior exists in the NUnit VS adapter.

The NUnit standalone runner works correctly, so this bug is probably not in NUnit Core.

I'm a bit surprised that this has no

[2014-02-03 08:55] corliss opened #23 "Build/ debugging instructions"
I'd like to help fix #22. I have not debugged a visual studio extension before. I understand that there is a way to run Visual Studio itself under the debugger, with the debug build of the extension. However, trying to debug the NUnitTestAdapter project does not work - there are no debug settings configured.

Could you please add a brief README (or just add to this issue) that explains how to get

[2014-02-03 18:30] AndrewInScotland opened #24 "Long-running tests ignored"
We have some integration tests that can take longer than 2 minutes on our TFS build machine. These are not reported by the test runner.
I have confirmed that this also occurs in VS 2012 Update 2.
It looks like any test that takes longer than 180 seconds is not reported!
Try the below test fixture. Tests "Quick" and "Slow" will be executed and reported; test "Slower" does not appear to even execute

[2014-02-13 12:10] GoppeltM opened #25 "TestCaseFilter won't accept brackets"
Another small issue with the TestCaseFilter. I guess I am missing some character escape mechanism, but because I can't find any documentation for it I open this issue.

When executing tests via the vstest.console api, it seems like expressions containing brackets are ignored.
Let's imagine the following test class:

[code]

now I want to start them via console. I launch vstest.console (developer c

[2014-02-13 13:37] #25 closed, assigned to nobody

[2014-02-19 16:09] MarkoFilipcic opened #26 "Exception thrown discovering tests - could not load type"
Visual studio throws an exception while discovering tests.

NUnit 1.0.0.0 discovering tests is started
Exception thrown discovering tests in ****
System.TypeLoadException: Could not load type 'System.Record' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

Where mscorlib is
Script# Core Assembly
ScriptSharp.0.7.5.1\tools\mscorlib.dll
version 0.7.0.0

[2014-03-14 11:56] scrom opened #27 "Unit tests containing a //comment are not discovered"
Using NodeUnit0.86 with VS2012 Update4 and the NodeUnit VS plugin.

If a test case contains a // style comment, the test runs in the console but results in:
"Test adapter sent back a result for an unknown test case. Ignoring result for 'aTestCase'."

The test itself doesn't show up in the test explorer. All others are ok.
(This might be an issue in NodeUnit itself)

Test to replicate:
put the foll

[2014-03-14 12:09] scrom opened #28 "Unit tests without space between "function" keyword and (test) param aren't discovered"
The 2 tests below are identical except for the space after the word function.
The first won't be discovered (but will show as run on the output)
The second is fine

exports.hiddenTest= function(test) {
    test.equal("test0", "test0");
    test.done();

};exports.visibleTest= function (test) {
    test.equal("test0", "test0");
    test.done();
};

[2014-03-14 12:14] #27 closed, assigned to nobody

[2014-03-14 12:14] #28 closed, assigned to nobody

[2014-03-19 13:44] BobSammers opened #29 "Code Lens test discovery partially failing for TestCaseSource attributed tests"
I'm using the following code (more or less, obviously):

[code]

In the Test Explorer, three tests are discovered (which is what I'd expect). However, the Code Lens feature in VS 2013 only shows the non-parameterised method as a test.

In addition to Code Lens not identifying test source code, methods under test which are tested by a parameterised test method do not detect any tests for themselves

[2014-03-29 15:04] OsirisTerje opened #30 "The URL in the extension goes to an outdated page."
The page  instructs people to add bugs to launchpad.  Should be corrected to point to github
Update info on versions supported in existing versions.
Info for 2.6.2 is latest now.
Info for 2.6.3 is older info.

[2014-04-05 16:51] #29 closed, assigned to nobody

[2014-04-05 16:51] #30 closed, assigned to OsirisTerje

[2014-04-05 17:56] #21 closed, assigned to OsirisTerje

[2014-04-05 22:00] #7 closed, assigned to nobody

[2014-04-05 22:02] #1 closed, assigned to nobody

[2014-04-08 13:36] JorisCleVR opened #31 "VS crash on viewing output"
For debugging of my test I write 500000 lines (26 character per line) to the output.
In the NUnit executable I can execute the test and view it's output.
Though in Visual Studio it will cause VS to completely crash when I click to open the Output of the test.

Note: In VS I can open the Output of other tests.

Configuration:
Visual Studio 2013 (Version 12.0.30110.00 Update 1)
NUnit (Version 2.6.3.

[2014-04-10 06:18] memark opened #32 "NUnit ignores test when requesting mock from AutoFixture/AutoMoq"
I'm using `NUnit` with `AutoFixture`, `AutoMoq` and the `Theory` attribute.

Here is my test method,

[code]

the interface

[code]

and the attribute

[code]

When I build my solution the test is discovered. When I run the test the following is written to the Output window:

[code]

Why is not it working with `NUnit`? (It works fine with both `xUnit.net` and `TestDriven.Net`.)

---

I have the fo

[2014-04-25 22:43] venison opened #33 "Uncaught System.Security.SecurityException causes test discovery to fail"
We have a project that has some dll's from the Unity Game engine that cause this exception during the test discovery.  We don't really care about trying to test anything from that dll, but the problem is it is blocking test discovery for our Nunit based unit tests that have no references to anything in the problematic dll.

Could we catch this exception, I believe in the NUnitTestDiscoverer, which

[2014-06-13 07:15] Camios opened #34 "Adapter causes ArgumentException to be thrown by Microsoft logger proxy's SendMessage method"
I get a bunch of  ArgumentExceptions when debugging nunit tests (64bit)

It seems The Nunit test adapter event listener is passing null, empty or blank string message to the microsoft logger proxy's sendmessage method.

e.g.
A first chance exception of type 'System.ArgumentException' occurred in Microsoft.VisualStudio.TestPlatform.Core.dll
A first chance exception of type 'System.ArgumentException

[2014-06-15 21:42] #34 closed, assigned to OsirisTerje

[2014-06-15 21:53] #31 closed, assigned to nobody

[2014-06-20 14:01] tkececi opened #35 "DeploymentEnabled and root folder for Assablies are ignored"
hi,
i'm tryint to integrate NUnit in my Project. i set in <SettingsFile>TestSettings1.testsettings and <DeploymentEnabled>False and in .testsettings root folder for the assmlies to be loaded %HOMEDRIVE%\myproject\bin
but the settings are ignored

[2014-06-20 14:05] #35 closed, assigned to nobody

[2014-07-01 11:57] DanielMinigshofer opened #37 "TestExecution throws Exception System.InvalidOperationException in TFS Build"
Hi,

I got a strange error when I want to run NUnit Tests in TFS 2013 Update 2. We used the latest Version of NUnit (NUnit 1.1.0.2).

I, 2228, 1, 2014/07/01, 10:37:11.392, 2752084083050, vstest.executionengine.x86.exe, TestExecutorService: Starting TestExecutor with command-line arguments /parentProcessId;1784
I, 2228, 1, 2014/07/01, 10:37:11.517, 2752085320643, vstest.executionengine.x86.exe, Tes

[2014-07-07 21:43] #24 closed, assigned to nobody

[2014-07-16 11:33] OsirisTerje opened #38 "NUnit only accepts absolute paths to test assembly"
Moved from https://github.com/nunit/nunit-framework/issues/116
See details there.

[2014-07-16 12:37] #38 closed, assigned to OsirisTerje

[2014-07-17 11:47] ferminho opened #39 "VSTest unable to find NUnit tests since 1.1.0.0"
With NUNit Test Adapter 1.0.0.0:

vstest.console.exe NUnitTestAssembly.dll /UseVsixExtensions:true
->
Test Run Successful

With NUNit Test Adapter 1.1.0.0:

vstest.console.exe NUnitTestAssembly.dll /UseVsixExtensions:true
->
Warning: No test available
Make sure that installed test discoverers & executors, platform & framework version settings are appropriate and try again.

[2014-07-18 19:40] rmatsick opened #40 "NUnit version 1.1.0.0 is broken with test class which ran under 1.0.0.0"
I have been helping someone install NUnit Adapter in their VS2012 installation when I noticed that when we attempt to run a test which will run under version 1.0.0.0 of NUnit, this message comes up:

![nunitfailuremessage](https://cloud.githubusercontent.com/assets/8204069/3630997/607d49d8-0eb1-11e4-9a3b-51d41c7a0811.PNG)

I checked versions on my system and I WAS running 1.0.0.0 which works and r

[2014-07-23 06:02] #39 closed, assigned to OsirisTerje

[2014-07-24 13:30] #40 closed, assigned to OsirisTerje

[2014-07-24 13:31] #37 closed, assigned to nobody

[2014-08-07 18:16] CharliePoole opened #41 "Create initial version of adapter that uses NUnit 3.0"
This will be a first, rough cut of running NUnit tests from an adapter that supports 3.0.

Only 3.0 will be supported, pre-3.0 tests will be ignored.
The adapter name will be different from the existing adapter, allowing both to be installed.

[2014-08-08 10:49] dplutino opened #42 "Tests don't run in Visual Studio 2013 Update 3 (nunit-vs-adapter version = 2.6.3)"
In documentation of 2.6.3 version, i read "All updates including Update 2 CTP2 checked March 2014".
When a version supporting vs2013 update 3 will be available?
Regards,

[2014-08-08 15:52] #42 closed, assigned to nobody

[2014-08-12 22:59] martynsmall opened #43 "Run/Debug tests in context doesn't work correctly with generic fixtures"
If you have a generic fixture and try running or debugging a single test by right clicking it in code and selecting 'Run Tests' or 'Debug Tests' it instead runs all tests in the code file.  Doing the same for a non generic fixture correctly runs just the single test.

Referring to the example below, the tests NonGenericTest1 and NonGenericTest2 can be run independently, but attempting to run eithe

[2014-08-22 18:40] hrickmachado opened #44 "."
.

[2014-08-22 20:29] #44 closed, assigned to nobody

[2014-09-02 22:22] IGx89 opened #45 "Run All causes TestFixtureSetUpAttribute to be executed per test, not per class"
I have a base class containing methods with TestFixtureSetUpAttribute/TestFixtureTearDown attributes and a child class that contains three tests. If I group the tests by class in Test Explorer and right-click on the class name and select Run, those methods correctly get called only once. If however I click "Run All" at the top, they each get called three times, once per test

[2014-09-23 19:05] CharliePoole opened #47 "Adapter should not try to discover tests if the nunit.framework version is 3.0 or greater"
The adapter uses NUnit 2.6.3, which cannot reliably run tests written for NUnit 3.0. It should examine the version of the referenced framework assembly and not try to discover tests if the version is 3.0 or more.

[2014-09-24 07:19] OsirisTerje opened #48 "ShadowCopy registry entry is wrongly named in the code"
The ShadowCopy registry setting is named UseShallowCopy which is wrong.  See https://github.com/nunit/nunit-vs-adapter/wiki/Tips-And-Tricks

[2014-09-24 07:27] #48 closed, assigned to OsirisTerje

[2014-10-08 16:09] PatrickVHines opened #49 "Breakpoints in called native C++ not hit in VS 2013"
I am using NUnit and the NUnit Test Adapter to run unit tests in Visual Studio 2013.  The test project is managed C++ that is testing native C++.

Breakpoints in the test project are hit as expected, but I can not step into production code (native C++) and native tests do not trigger breakpoints.

Switching to MSTest allows these breakpoints to be hit.

[2014-10-08 17:05] #49 closed, assigned to nobody

[2014-10-15 11:52] demyte opened #50 "Issue with run after build on - modified test does not run"
Hi,

When I run with "Run after build" on and change a test to make it fail and then build, the code builds and then the test discovery starts with the following log and the changed test is not run.

I am running:
- VS2013 Update 3 (12.0.30723.00)
- nUnit Adapter 1.2.0.0

Cheers,

James

[2014-10-16 18:57] Vkoslak opened #51 "ItemGroup added to project files."
Software verions:  Visual Studio 2013, Windows 7 Ultimate, Nunit Test Adapter ver 1.2.0.0

**Steps to reproduce:**
- Start Visual Studio and open a solution with a unit test project written for NUnit.
- Find a unit test and right click on it selecting "run selected unit tests" from the context menu.
- Unit test is executed.

**Expected Results:**
- Nothing extra is added to the project definition.

[2014-10-30 19:37] michaeljesse73-zz opened #52 "vstest.executionengine.exe aborts in VS2013"
As of today, I started getting the following error.

------ Discover test started ------
Failed to configure settings for runsettings plugin 'VSTest Run Configuration' as it threw following exception:
'Method not found: 'System.String Microsoft.VisualStudio.TestPlatform.ObjectModel.ValidateArg.NotNullOrEmpty(System.String, System.String)'.'
Please contact the plugin author.

I don't know if this i

[2014-10-30 19:40] #52 closed, assigned to nobody

[2014-11-14 10:01] #50 closed, assigned to nobody

[2014-11-18 09:12] xperiandri opened #55 "Test Results"
Does this adapter produce test results?
Not only I need this.

See https://visualstudiogallery.msdn.microsoft.com/6ab922d0-21c0-4f06-ab5f-4ecd1fe7175d
Q&A "Generating test results?" question

[2014-11-18 18:05] #55 closed, assigned to nobody

[2014-11-26 23:15] xperiandri opened #56 "Add support for Visual Studio 2015"
Could you add support for Visual Studio 2015 developer preview?
It somehow works if copy adapter for 2013
But methods in code doesn't have an icon to run test. It is just a visible issue.

[2014-11-28 10:28] #56 closed, assigned to nobody

[2014-12-10 23:45] topgenorth opened #57 "RemoteException When Running Tests via Xamarin Studio on OS X"
If the Nunit Test Adapter Nuget package is added to a C# project file (`.CSPROJ`), then tests in the test assembly will fail with a "**RemotingException: Unix transport error**. See the following screenshot:

![screenshot 2014-12-09 13 39 12](https://cloud.githubusercontent.com/assets/10829/5386569/9bbedd18-808a-11e4-9e56-9b15c1a9ab4a.png)

[This  gist](https://gist.github.com/alanmcgovern/cb098b0

[2014-12-27 21:35] siegfriedpammer opened #58 "VS 2015"
When will there be a release for VS 2015? I tried building a package myself, but I failed because I don't have VS 2012 at my disposal. Thank you very much!

[2015-01-27 21:45] anilanar opened #59 "Adapter can't detect tests in VS 2013 Express U4"
As the title says, adapter can't detect NUnit tests in VS 2013 Express Update 4 (using Nuget package, obviously).

[2015-01-27 21:59] rprouse commented on #59
Did this work in previous versions of Visual Studio Express? I didn't think Express supports extensions. Even though the adapter is also packaged as a NuGet package, it is an extension.

[2015-01-27 22:06] OsirisTerje commented on #58
The nuget adapter works for VS 2015.  You can also download a pre-release version from https://bintray.com/nunit/NUnitAdapter/NUnitAdapter/1.2.0.1/view

Also see my blog post here about VS 2015 and NUnit:  http://geekswithblogs.net/terje/archive/2014/11/14/visual-studio-2015-and-nunit-with-a-little-nuget-issue.aspx

[2015-01-28 01:04] anilanar commented on #59
I have no idea, it's my first time using Express. I saw some posts in stackoverflow.com claiming that Nuget package works with Express and I assumed so. I know it doesn't support 3rd party extensions but I thought maybe the Nuget package used some other method to get around it.

[2015-01-28 01:22] CharliePoole commented on #59
NuGet packages in general may work with Express, but the use of NuGet to
install an extension (vsix) is subject to the usual rules about extensions
AFAIK.

On Tue, Jan 27, 2015 at 5:04 PM, Anıl Anar <notifications@github.com> wrote:

[2015-01-28 11:35] rprouse commented on #59
The extension does work in the new free Community Edition of Visual Studio. There isn't much reason to use Express anymore, so I would suggest switching.

[2015-01-28 18:00] OsirisTerje commented on #59
yes, use the community edition, see http://www.visualstudio.com/en-us/news/vs2013-community-vs.aspx.

[2015-01-28 18:00] #59 closed

[2015-01-28 18:11] CharliePoole commented on #59
@OsirisTerje We should probably document somewhere that Express isn't supported.

[2015-01-28 18:50] OsirisTerje commented on #59
Agree, I have updated the info on https://www.nuget.org/packages/NUnitTestAdapter/1.2.0 and https://www.nuget.org/packages/NUnitTestAdapter.WithFramework/1.2.0

[2015-02-06 21:29] ehartford commented on #58
Install Error : Microsoft.VisualStudio.ExtensionManager.MissingTargetFrameworkException: The extension 'NUnit Test Adapter' requires a version of the .NET Framework that is not installed.

[2015-02-06 21:39] OsirisTerje commented on #58
It should be enough with 4.5, the one that comes with Visual Studio.  Which version of VS do you install it into ?  And which version of the adapter do you use ?

[2015-02-12 10:27] #58 closed

[2015-03-01 13:25] jmecosta commented on #41
i can gladly test this once its available. so far the current adapter misses some of the OneTimeSetUpAttribute

[2015-03-01 16:51] CharliePoole commented on #41
Note that it's an error that the adapter even tries to run tests built against NUnit 2.x. I thought that we had put out an update that gave a proper error message. @OsirisTerje ?

[2015-03-01 17:33] OsirisTerje commented on #41
No, I had that in a branch for 2.6.3, but we decided to wait for 2.6.4 which threw an exception in that case, and that code has not been done after that.  We should perhaps  do this now, together with the updates needed for VS 2015.  I have an issue with the nuget adapter and CTP6, which seems to be a bug in the CTP6, and would like that to be resolved first.  It would be nice to drop out a 1.4 wi

[2015-03-01 19:20] CharliePoole commented on #41
I agree. It would stop a certain amount of confusion folks have over this.

[2015-03-01 20:09] jmecosta commented on #41
is there any way of me hacking v 1.2.0.1 to trigger also calls on OneTimeTearDown and OneTimeSetUp? a quick and dirty way for me is fine, at least until final version is released.  Nice to hear CTP6  has been release, really hope they fix one of my bugs

[2015-03-01 20:44] CharliePoole commented on #41
No, because the adapter has nothing to do with this issue - it's the NUnit core used by the adapter that actually recognizes and runs tests. When @OsirisTerje releases an adapter that uses NUnit 2.6.4, you'll get an error message if you try to run NUnit 2.x tests. This is an _improvement_ over the current adapter because the execution is entirely unpredictable and unreliable. It only works at all

[2015-03-01 21:13] jmecosta commented on #41
ok thanks... do you have any idea when this can be ready... by the way if trying to update this to use 3.0 myself is this going to be a hell of a work or not...

[2015-03-01 23:45] CharliePoole commented on #41
To do it yourself, you would need to remove all references to NUnit assemblies from the adapter, become familiar with the new framework API or the engine API, choose whether to go through the engine or deal directly with the framework, identify all the places where the adapter previously called into NUnit and replace it with calls to one of the APIs, identify where info is passed back to VS and cr

[2015-03-06 16:09] PaulAchess commented on #58
Hi, I'm experiencing this issue, was there any fix ?
My log is here (sorry, I couldn't just attach it)

06/03/2015 17:05:52 - Microsoft VSIX Installer
06/03/2015 17:05:52 - -------------------------------------------
06/03/2015 17:05:52 - Initializing Install...
06/03/2015 17:05:52 - Extension Details...
06/03/2015 17:05:52 - 	Identifier      : NUnitTestAdapterInstall..7c53286e-ac4f-485f-915c-5ec5

[2015-03-06 16:12] ehartford commented on #58
It's because you have visual studio 2015 preview installed.  You need to edit the .vsix and set the. Net dependency to MinVersion instead of Version

[2015-03-06 16:28] PaulAchess commented on #58
Thanks, I just removed MaxVersion and that did the trick.

[2015-03-13 19:28] CharliePoole opened #61 "Confusing NUnit version message"
When running the adapter, several messages appear in the discovery phase, which refer to "NUnit 1.2.0.1" This has already led  to confusion when users reported problems with "NUnit 1.2"

The messages should refer to the "NUnit VS Adapter 1.2.0.1" It's probably not necessary to give the NUnit version, so long as there is a one-to-one correspondence between the adapter version and the NUnit version.

[2015-03-16 17:00] OsirisTerje opened #62 "Adapter uses shadowcopy setting in discoverer but not in the executor"
The executor sets the shadowcopy to false always, ignoring the registry setting.

[2015-03-17 07:44] OsirisTerje opened #63 "Prepare for VS2015"
Adapter is already ready internally for VS 2015, but all descriptions and notes need to changed to state it.

[2015-03-17 07:47] OsirisTerje opened #64 "Update to use NUnit 2.6.4"

[2015-03-22 20:36] #62 closed

[2015-03-22 20:36] OsirisTerje commented on #64
Fixed.

[2015-03-22 20:36] #64 closed

[2015-03-22 20:45] #47 closed

[2015-03-22 20:47] #61 closed

[2015-03-25 14:29] mrward commented on #57
Had a quick look at this. The problem seems to be that the assemblies the NUnitTestAdapter NuGet adds to the project as references all have Local Copy set to true if you install the NuGet package with Xamarin Studio. This is not the case if you add the NUnitTestAdapter NuGet package to the project with Visual Studio. This is because the NUnitTestAdapter NuGet package is using a PowerShell script (

[2015-03-25 16:54] lawrencecraft opened #67 "Output from F# printfn displays line breaks after every character"
Output from F#'s printfn is displayed with a newline after every character. See screenshots attached.

Sample code:

[code]

Results:

![printfn_vs_plugin](https://cloud.githubusercontent.com/assets/660580/6830066/72200126-d30f-11e4-9490-d63ed4706b79.png)

This does not appear in the NUnit GUI:

![printfn_nunit_gui](https://cloud.githubusercontent.com/assets/660580/6830076/7b9f2c0e-d30f-11e4-8419-

[2015-03-25 16:54] lawrencecraft commented on #67
I'm using Visual Studio 2012 on Windows 7.

[2015-03-25 18:13] CharliePoole commented on #67
I suspect this goes beyond F#. What happens if you replace the WriteLine by a series of Writes of one char followed by a final WriteLine()?

[2015-03-26 10:08] lawrencecraft commented on #67
Good point--the following code prints a string char-by-char and exhibits the same behavior.

[code]

[2015-03-26 10:29] lawrencecraft commented on #67
https://github.com/nunit/nunit-vs-adapter/blob/master/src/NUnitTestAdapter/NUnitEventListener.cs#L126

That might be the issue--it appears to add \r after every output line it receives?

[2015-03-26 11:25] CharliePoole commented on #67
Yes, that's what I thought too. Should be an easy fix.
On Mar 26, 2015 3:29 AM, "Lawrence Craft" <notifications@github.com> wrote:

[2015-03-27 19:47] #63 closed

[2015-04-06 18:24] corliss opened #68 "NUnit VS Test adapter broken in Visual Studio 2013 Update 4"
Hi Guys, this seems related to #59, but is for standard Visual Studio 2013 + Update 4, not just Express.

I upgraded from Update 2 to Update 4 and now the adapter is totally unusable.

The first time a solution is built and loaded, it discovers all tests. However, actually trying to run the tests does not work - it consistently displays "No tests to run".

Rebuilding also does not work - now even

[2015-04-06 18:39] OsirisTerje commented on #68
I do believe you might have quite long test names.  NUnit should not always generate long names, AND the VS Test Explorer don't like long names.
To work around these, take a look at these https://github.com/nunit/nunit-vs-adapter/issues/3, and this https://bugs.launchpad.net/nunit-vs-adapter/+bug/1221780 to see if they can help you out.

[2015-04-06 18:39] rprouse commented on #68
Version 2.0 of the adapter was just released, you should update and test with that. Also, are you using the NuGet package or the VSIX extension? I am using version 2.0 of the adapter installed as a VSIX in Visual Studio 2013 Professional Update 4.

[2015-04-06 19:15] corliss commented on #68
Thanks for the quick response folks. Uninstalling 1.2 and installing the 2.0 VSIX works well; I'm back to the previous functionality as far as I can tell. Thanks again.

[2015-04-06 19:15] #68 closed

[2015-04-14 21:44] kzu commented on #57
For inspiration on how to do this, you can look at the [xunit implementation of the VS test adapter](https://github.com/xunit/visualstudio.xunit).

[2015-04-15 06:59] talilerner9 opened #69 "OutOfMemory exception when running NUnit test using the NUnit test adapter"
vstest.executionengine.x86.exe*32 -> From visual studio 2012, this process when invoked for execution of NUnit test from the test explorer consumed is around 1.7 GB throws an out of memory exception. There are around 200 test that are ran in the same bulk and some receive this exception.

[2015-04-15 07:02] OsirisTerje commented on #69
What does those tests do ?
We need some more info on this, but most probable this is your test consuming memory and not the adapter.

[2015-04-15 07:06] talilerner9 commented on #69
The tests run with no noticeable problem when running through the NUnit GUI.
What kind of data do you need?
Tali.

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 10:02 AM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using the NUnit test adapter (#69)

What does those tests do ?
We

[2015-04-15 07:39] OsirisTerje commented on #69
The best would be to have a small repro of this.
There is either something in your tests that are consuming memory, but if we assume there is a bug in the adapter, it can be that it doesn't release memory properly somehow.  I doubt that really, the other tests we have doesn't indicate that is an issue any more, see the tests here https://github.com/OsirisTerje/NUnit.VisualStudioAdapter.TestProgram

[2015-04-15 14:12] talilerner9 commented on #69
I checked the tests without the adapter and noticed that there is a huge memory usage. I changed the setting and looks ok. Now with the new settings I tried to run the tests from the test explorer window (using the adapter) and the behavior is as follows:

1.       No out of memory exception is thrown

2.       The tests start to run and after  1 hour it look stuck (no progress and the process man

[2015-04-15 15:19] OsirisTerje commented on #69
Are you able to debug into the test ?
What is this test doing ?

[2015-04-16 05:36] talilerner9 commented on #69
I running a set of ~tests. I can’t debug the test because the VS doesn’t notifies me which test is running at the moment. There are several kind of test in the set.

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 6:19 PM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using the NUnit

[2015-04-16 09:07] deepaksharma507 opened #70 "System.ArgumentException while running a test from VS"
Hi all,

I am using VS2012 with NUnit (V.2.0).
I am facing this strange issue while running my test from within VS. My test works fine when I run it from NUnit GUI, but fails when I run it from within the VS (Test Explorer) window. It throws the following exception.

Message returned System.Web.Services.Protocols.SoapException: Server was unable to process request. ---> System.Reflection.TargetInv

[2015-04-19 13:38] talilerner9 commented on #69
Dear Terje,

You haven’t answered me previous mail.
Can you please help me resolve the adapter issues?

Thank you and best regards,
Tali.

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 6:19 PM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using the NUnit test adapter (#69)

Are you

[2015-04-19 21:26] OsirisTerje commented on #69
You need to give some more information on what this test is doing.  I would really like to help you out, but I am just guessing at the moment.

I also don't understand why you can't debug into a test.  You can select to debug a single test. What should stop you?

[2015-04-20 06:59] talilerner9 commented on #69
Dear Terje,

When running each test separately everything is ok but when running the bulk it gets stuck. The usability design of the feature by Microsoft lacks the marking of the currently running test. This is why I don’t know which test is running at the moment. What do you suggest I should check?

Thank you,
Tali.

From: Sandstrom [mailto:notifications@github.com]
Sent: Monday, April 20, 2015 1

[2015-04-23 03:23] dotMorten commented on #15
Interestingly enough I just updated my WinRT 8.1 VS2013 project to WinUAP 10 VS2015 project. I searched for the error and this is all I found. I never hit this in VS2013.
Btw I'm using msunit and not nunit.

[2015-04-27 06:27] talilerner9 commented on #69
Dear Terje,

Please let me know how to proceed since I am waiting for your guidance.

Thank you,
Tali

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Monday, April 20, 2015 12:27 AM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using the NUnit test adapter (#69)

You need to give some more information on wha

[2015-04-27 07:42] OsirisTerje commented on #69
I am "blind", you need to give me more information - you must help me - to help you.
I asked you the following:
1. What kind of tests are these ?  Describe them or give an outline of what they do.  They can't be normal class based unit tests to behave the way you describe.
2. Does the error "move" ?  Does it only appear when you "run all" ?
3. If the same tests have errors all the time, what happe

[2015-04-27 09:04] talilerner9 commented on #69
Dear Terje.

I will try to fill all possible details.
The tests basically read a video and apply some kind of analysis. The unit test run with no known problem when running using the NUnit GUI.
When running from the VS 2012 using the NUnit  adapter when I run then one by one they run with no problem but when I run the run all option on the project I have no indication which test is running at the

[2015-04-27 09:40] OsirisTerje commented on #69
Thanks!

The adapter runs tests differently when running single tests or selection of tests, and running them using the Run All.

Does the same happen if you select, let say approximately half of them, right click and use Run Selected Tests ?

How long time does each test take, approximately ?

[2015-04-29 13:53] talilerner9 commented on #69
Dear Terje,

The adapter succeeds when running selection of tests. The tests are not very long. The longest takes 1 minute. I will try to run half of the tests.

Thank you,
Tali

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Monday, April 27, 2015 12:40 PM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using

[2015-04-30 06:41] talilerner9 commented on #69
Dear Terje,

I tested the adapter when selecting a large tests bulk and it failed.
How can I proceed?

Tali.

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Monday, April 27, 2015 12:40 PM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using the NUnit test adapter (#69)

Thanks!

The adapter runs tests differ

[2015-04-30 07:38] OsirisTerje commented on #69
It seems your tests are consuming too much memory, and not releasing it when they finish.  Do you have a TearDown method ?
Do you hold onto resources somehow ?
Note that the adapter is controlled different than NUnit GUI and Resharper, so it may react different to what your code is doing.
Can you create a  repro for this which you can upload ?

None of the tests I have the same set of symptoms as

[2015-04-30 08:26] talilerner9 commented on #69
Dear Terje,

I checked the resources usage when the tests are running mainly memory usage and I didn’t see anything that is not acceptable. But I noticed that some tests fail with exception:
System.Runtime.InteropServices.SEHException

Can this be connected to my problem?

Thank you,
Tali.
From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Thursday, April 30, 2015 10:39 AM
To: nunit/nun

[2015-04-30 08:38] OsirisTerje commented on #69
Yes, it might be an indication.  It seems you have some C++ native code there, and it may be that it is not being released at the end of the test.

[2015-04-30 08:46] talilerner9 commented on #69
Why do you think it is related to memory release? The test works fine when running through the NUnit GUI?
Can’t it be related to another issue?

Thank you,
Tali

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Thursday, April 30, 2015 11:38 AM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using the NUnit test

[2015-05-04 12:01] talilerner9 commented on #69
Dear Terje,

How are you?
I am still waiting for your replay to advise me how to proceed.
I remind you that the tests run with no problem when running through the NUnit GUI. I don’t think that the problem is with the code. This is a fundamental assembly in the project and had been written long ago and had been tested for leaks, therefore I do not think it contains a memory leak.

Waiting for your

[2015-05-04 14:45] OsirisTerje commented on #69
I am blind on this, as I know far too little about your code.
Can you make a repro that you can upload on the issue, where you repeat the essential things in that code ?
We have no indication of any memory leaks in the adapter.
The NUnit GUI and the VS Test executable runs differently, and it is hard to compare.

I did ask some questions earlier:
What is the memory profile when you run?  You say "

[2015-05-04 16:06] talilerner9 commented on #69
The issue now is not the memory leak it is the boundary between managed and unmanaged code that I explained.
How can we proceed when this is the main problem now?

Thanks,
Tali.

From: Terje Sandstrom [mailto:notifications@github.com]
Sent: Monday, May 04, 2015 5:46 PM
To: nunit/nunit-vs-adapter
Cc: Lerner, Tali
Subject: Re: [nunit-vs-adapter] OutOfMemory exception when running NUnit test using th

[2015-05-17 17:43] CharliePoole commented on #41
There is now a separate project for the NUnit3TestAdapter, so I'm closing this as a duplicate.

[2015-05-17 17:47] #41 closed

[2015-06-11 14:33] bradenb commented on #6
I'm using a library called SpecEasy which has you implement all tests as a generic NUnit base class. This issue isn't a big deal on my local machine, but when we build on TFS I get a "No source data found..." warning for all of my specs. I looked at the discussion on Launchpad and it looks like there's no plan to make a fix, is that accurate?

[2015-06-11 18:22] CharliePoole commented on #6
We haven't used Launchpad for a long time. Can you point me to the discussion in question?

Right now, this is not a problem that's on our radar, but if you can give us some more info we'll look into it. As a start, what version of the adapter are you using and what do your generic classes look like?

[2015-06-11 18:24] CharliePoole commented on #6
Sorry, I see the discussion is cited above.

@OsirisTerje This has never been categorized (labelled) or assigned any milestone. What should we do with it?

[2015-06-11 18:29] bradenb commented on #6
Thanks for the response.

I am using the version provided through Visual Studio extensions which looks like 2.0.0.0. The library that contains the generic base class is [SpecEasy](https://github.com/trackabout/speceasy). The generic base class is here: https://github.com/trackabout/speceasy/blob/master/SpecEasy/GenericSpec.cs which also inherits from https://github.com/trackabout/speceasy/blob/mas

[2015-06-11 19:56] CharliePoole commented on #6
Is your test running OK, aside from seeing this warning message that applies to the location of the source code?

Given that the NUnit tests are in the library and not in your code, it makes absolute sense that we can't find the source. We don't have the source! The fact that we give a warning when running under TFS might be a bug. It only makes sense under the VS IDE.

The earlier post referred t

[2015-06-11 20:02] bradenb commented on #6
Yes, the tests pass just fine in both VS 2013 and TFS 2012, really I just want to be able to suppress the warnings from TFS since it makes it difficult to sort out where the real issues are with the build. I do see these warnings in the Test output in VS, but not as actual warnings.

And yeah, I guess I wasn't really thinking about the differences in these situations; it would be great if I could

[2015-06-11 22:13] OsirisTerje commented on #6
I'll grab @bradenb's code above and use it on a TFS instance, and get a repro, and see if I can pinpoint where this message comes from.  It should be equal in VS and TFS, but the interfaces being used are not absolutely identical.

[2015-06-12 06:03] CharliePoole commented on #6
I'm guessing it's equal in the two cases but more visible in the TFS output. Since there is no use of the source in TFS, maybe we should skip the message. Alternatively, we could create just a single warning if some classes have no source.

[2015-06-12 06:40] cklutz commented on #6
I'm not sure if it's of no use in TFS (builds). Consider the following: you have a test failure/assertion during the build. If you now open the build report, open the tests (they get loaded into VS usually), If you then try to navigate to the test code in question, I *think* you need the source information.

[2015-06-12 07:14] CharliePoole commented on #6
Maybe @osiristerje can try this (I'm traveling) and see. I think VS will give its own message if the source is not available.

In the same way, the ide gives a "source not available" message, possibly making our log message unnecessary except when debugging the adapter.

[2015-06-17 22:52] Maultasche commented on #26
This was happening to me. It turned out that there was some code in the default constructors of one of my classes that was throwing an exception when the NUnit test adapter was coming through and constructing classes while looking for tests.

The exceptions weren't occurring when the application was running because everything had been set up correctly. Nunit is probably constructing the class in i

[2015-06-22 09:15] Taron-art opened #71 "Test Adapter runs explicit tests when TFS TestCaseFilter is used"
NUnit test adapter runs explicit tests when the TestCaseFilter is used. For example TestCategory!=Temp. I reproduced this issue using VSTest.Console and on the TFS Team Build 2012.

[2015-06-22 10:53] Taron-art commented on #71
I looked on that more carefully and I see that it questionable bug: Explicit tests should be run when the category is explicitly selected. However, it is not consistent with the NUnit GUI and command line, because if you exclude the category from the test run, it will not automatically run all explicit tests from other categories\without category. The only workaround which I see is to include expl

[2015-06-22 12:57] CharliePoole commented on #71
NUnit itself handles an exclusion filter (one with not at the top level) specially. As you have noted it doesn't consider explicit tests to have been explicitly selected just because they are not excluded.

When you use a filter under vsconsole or tfs, we do create an NUnit filter but it's never an exclusion filter - it's just a list of the test names selected by VS. This is necessary because VS c

[2015-07-03 15:19] forestmarie opened #72 "Test Adapter Possibly using the wrong version of Microsoft.VisualStudio.TestPlatform.ObjectModel"
I'm having an issue getting my build server to run my unit test suite. Here's the details:

We're using NUnit 2.6.4
The build server is running TFS Build 2012 with Update 4
The TFS server is running TFS 2013 with Update 2
I have my build controller set up to point to a version controlled folder that has 3rd party dependencies - in this folder are the 4 NUnit dependencies need to run NUnit tests on

[2015-07-03 20:43] OsirisTerje commented on #72
The Microsoft test runners , vstest.discoveryengine and vstest.executionengine both search the test adapters for an ExtensionUri attribute with an executionUri, which in NUnits case is
public const string ExecutorUri = "executor://NUnitTestExecutor";
Whatever class has that attribute will be used for discovery and execution.

The reference to the VS2012 version is intentional.  Using that referenc

[2015-07-04 00:55] forestmarie commented on #72
Osiris, thanks for the quick response!

Thank you for clearing up that the reference to VS2012 is intentional.

I didn't mention in the original comment, but Visual Studio 2013 was something I installed on the build server this morning to see if it might help this issue.  Like you mentioned, it was one of those "I'll be surprised if this works" experiments, but it changed nothing.

As for your com

[2015-07-05 23:21] forestmarie commented on #72
Osiris,

Just wanted to let you know that I installed a 2013 build controller and the 2013 build agents on my dev box scaling out my build process and used that controller in my build definition and it worked (same fix as the stackoverflow post).

I tested both the version 11 and 12 process templates and they both worked as intended so I'll just spin up another VM tomorrow and install the 2013 age

[2015-07-06 15:52] OsirisTerje commented on #72
Great to hear the upgrade solved the issue :-)

Just for curiosity:  You said "No - if I don't do this via a gated check-in, no tests are run so I'm fine there."  I might get you wrong here, but gated checkin is no requirement for building and running tests.   Running standard builds should work fine.  Did I understand you correct?

[2015-07-06 17:07] forestmarie commented on #72
Yes. As long as no tests were being run I didn't have any issues.  With the 2013 build agents, I'm able to though.  Should have that new up today.

[2015-07-06 19:24] OsirisTerje commented on #72
Great!  I think this can be closed then.
If you get any more issues with this, just reopen it :-)

[2015-07-06 19:24] #72 closed

[2015-07-16 17:11] #69 closed

[2015-07-17 08:16] bussnik commented on #71
We also stumbled over this issue in our first use of TFS with the following scenario:
When TFS runs the unit tests without TestCaseFilter, then the tests marked [Explicit] are not executed.

Then we had to exclude some other tests, so tag them with [Category("Local")]
and set TestCaseFilter to TestCategory!=Local. As effect, the [Explicit] now were executed.

Our workaround is to tag all these tes

[2015-07-17 14:22] CharliePoole commented on #71
There are actually two issues here:

1. How NUnit handles explicit. By design, NUnit ignores Explicit tests not directly selected. Directly selected means either by name or by inclusion through a category. Excluding a category does _not_ cause the explicit test to be run. This works pretty well in the gui and console runners and in the VS test window using the adapter. Of course, it's not possible

[2015-07-23 13:56] immeraufdemhund opened #73 "Null Reference Exception on startup"
Using Visual Studio 2015 Enterprise and test adapter 2.0.0.0 I frequently (seems consistently like every other time) get a NullReferenceException. The following is the entry from my activity log.

When this problem happens I am unable to open the test window and run any tests. Usually closing Visual Studio and re-opening it will resolve this.
I also think I remember getting this exception when usi

[2015-07-23 15:44] OsirisTerje commented on #73
Yes, the 3.0 beta adapter had some issues here, but the 2.6.4 is different and should not have them.  So this looks VS 2015 specific.  I have sent it further to MS for evalution.  Btw, you havent seen the same With MSTest ?

[2015-07-23 15:52] immeraufdemhund commented on #73
And admit to using MSTests?!?!?! NEVER!

the answer is no, I have not seen this with MSTest, but I only have 1 very small project that uses MSTest for when I do codereviews on stack exchange.

 I'm also suspecting that it *might* be because of opening Visual Studio through MinGW. I created a function that searches the current directory for all .sln files and returns the first one as a variable cal

[2015-07-23 16:53] OsirisTerje commented on #70
Not an adapter issue.

[2015-07-23 16:53] #70 closed

[2015-07-23 17:00] OsirisTerje commented on #73
Lol !

Ok, great that you keep a watch for a while. If nothing more pops up within a few days, I suggest you close the issue.

[2015-07-23 18:06] OsirisTerje commented on #51
I'll close this as we have no way to do anything with this.  The new testgenerator will create Unit Test projects, and when we do "Create an NUnit VS Template #300, that is probably the best we can do.

[2015-07-23 18:06] #51 closed

[2015-07-24 15:03] immeraufdemhund commented on #73
Just crashed again. I am submitting a report with MS with a dump. I'll report back their findings as well.

[2015-07-27 12:34] immeraufdemhund commented on #73
I'm not sure this will help or not, but here is to hoping. As I told you I was going to log how I open VS. So far it's 50/50 between using bash and right clicking failures. I started poking around and found that by deleting the MEF cache (%localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache) that all was good with the world again. Next time it happens I would like to attach said 4 files

[2015-07-27 17:42] OsirisTerje commented on #33
No further information or response.

[2015-07-27 17:48] OsirisTerje commented on #23
This information above should be added to the wiki.

[2015-07-27 17:56] OsirisTerje commented on #15
I'll added it to V3.0 to mark it for continued effort, but I doubt this can be done within 3.0.  I don't think we have anything neither in 3.0 nor in VS 2015 which changes this.

[2015-07-27 19:16] CharliePoole commented on #23
@OsirisTerje So, adding it to the V3.0 milestone was to mean that you don't intend to fix it at all for V2.0. Is that correct?

I'm taking your "adding to the wiki" to mean "adding to wherever we decide this stuff belongs" in the separate discussion we are having. :-)

[2015-07-27 19:21] CharliePoole commented on #15
In NUnit 3.0, random parameters are repeatable, provided the same initial seed is used. This is a command-line argument for the console runner. We could do the same thing for the adapter in one of two ways:

1. The user gives us a seed to use, via a settings file or some other way.

2. We generate a random seed at discovery and save it "somewhere" in order to use the same value on execution. Unles

[2015-07-28 18:35] #26 closed

[2015-07-28 18:36] #33 closed

[2015-07-28 18:38] CharliePoole commented on #32
I imagine this will be equally an issue in V3 if confirmed.

[2015-07-28 18:39] CharliePoole commented on #45
If this is confirmed, it's probably also a V3 issue.

[2015-07-28 18:47] CharliePoole commented on #57
@OsirisTerje How do you want to deal with this issue? Document only?

[2015-07-28 18:55] OsirisTerje commented on #57
If we can make the nuget package work as a solution package and not as a Project package it should also solve this issue, if I have understood the above correctly.  I Guess that is the best approach, so we could raise another issue on V3.0 to work as a solution package, and just add a reference to this.
The dll's don't really need to be referenced, so we could also check that route.

[2015-08-11 09:14] davideicardi opened #74 "Problem running a test case with arabic characters"
Hello, I have a test defined like this code:

		[TestCase("حصيلة منافسات كرة القدم النسائية: يوليو/تموز 2015"
						, "حصيلة-منافسات-كرة-القدم-النسايية-يوليو-تموز-2015")]
		public void MyTest(string input, string expected)
		{

Seems that the adapter fail to recognize it and stop to run any other test in the same assembly.
It works if executed with resharper unit test so I suspect it is a problem

[2015-08-11 18:54] CharliePoole commented on #74
I'll try this out by copying and pasting from the issue. I'm pretty sure that the results will vary depending on the character set encoding used in your code.

[2015-08-11 18:56] CharliePoole commented on #74
Also, have you tried to run it with the NUnit console or gui runner?

[2015-08-11 20:49] CharliePoole commented on #74
I copied your code into a test class. When I saved it, I was prompted to use Unicode or some other character set. I used Unicode. The test ran OK under the NUnit Gui.

I again copied the test into a project I use to test the VS adapter and opened it in VS2013 with the 2.0 adapter. The adapter recognized it. I used 'Run All' and the test ran OK as well as all the other tests in the assembly.

As fa

[2015-08-11 20:49] #74 closed

[2015-08-11 21:40] davideicardi commented on #74
Thanks Charlie for your prompt response.
This is very strange... I have tried to reproduce the problem in an empty project but I can't reproduce it.
The only strange think happen when I copy also the other test cases, basically all the test are executed but I receive this warning in the output window (selecting "Tests" in the upper combobox) when running with "Run All":
[code]

Can be in someway r

[2015-08-11 23:06] CharliePoole commented on #74
The 449 character message relates to a limitation of the VS  TestWindow: no test name may exceed 449 characters in length. Note that the name is then truncated, which can lead to duplicate tests in some cases.

The extraordinary length of your test name comes from the fact that NUnit uses the text representation of the arguments as part of the name. NUnit 3.0 truncates string arguments to no more

[2015-08-14 19:54] ScottShingler opened #75 "Unable to run TestCaseSource tests when the type under test uses Guid.ToString in a ToString override"
First, let me present the test setup in F# (using FsUnit on top of NUnit):

    type SimpleRecord = { A: int; B: int }
                        override x.ToString() = x.A.ToString()

    [<TestFixture>]
    type ``Simple Test Cases``() =
        static member SimpleDataSource =
            [|
                [|{ A = 1; B = 2} ,3|]
            |]

        [<TestCaseSource("SimpleDataSource")>]

[2015-08-14 20:14] OsirisTerje commented on #75
I am no F# guy and I just struggle with compiling this.  Could you upload a repro project somewhere  which compiles ?  That would be really helpful in tracking this down.

[2015-08-14 21:28] ScottShingler commented on #75
@OsirisTerje I've created a repro project at https://github.com/ScottShingler/NUnitVSAdapter.Repro75

[2015-08-14 22:54] CharliePoole commented on #75
Actually, this is a well-known issue in disguise. :-)

When tests are run using the NUnit console or gui runners, they are first loaded (discovered) and then executed. When running under the adapter, the tests are loaded twice, once in the discovery phase and again at the beginning of the execution phase. This is a result of the way the VS Test Window works: discovery and execution are run in sepa

[2015-08-15 16:56] ScottShingler commented on #75
@CharliePoole You nailed it!

I've updated my repro project with a working example of the solution.

[2015-08-15 16:56] #75 closed

[2015-08-15 17:30] CharliePoole commented on #75
Marked this as a duplicate of #15, which remains open.

The difference in the two is that we random test generation is native to NUnit, while the guid generation is in your test. We may be able to fix #15, but not this one.

[2015-08-20 13:25] PauloIntechnica opened #76 "Exceptions caught in AppDomain.CurrentDomain.UnhandledException differ"
If a test class assigns AppDomain.CurrentDomain.UnhandledException in the SetUp() and then an exception is thrown in a thread:
- In NUnit GUI executor it succeeds;
- In VS 2015 + NUnit Test Adapter the executor crashes.

The most relevant (hopefully) parts of the
Code:
[code]
When I run this code in the NUnit GUI executor, it successfully reaches the Assert.IsTrue(...) and marks that test as faile

[2015-08-23 10:11] iskiselev opened #77 "NuGet installed test adapters breaks NUnit on mono"
If in project output folder presence any of "nunit.core.dll", "nunit.core.interfaces.dll" or "nunit.util.dll" (and they will if project has installed test adapter from NuGet), than attempt to run any test from that folder under mono will fail with InvalidCastException.

[2015-08-23 15:55] CharliePoole commented on #77
Can you give more precise instructions for reproducing this? That is, what steps do you take to run under mono?

[2015-08-23 17:48] iskiselev commented on #77
Please look on example:
https://github.com/iskiselev/TravisExperiments/commit/3dd10829ba98beb459f13fce51a3393d969cd381
Here is sample of running this application on mono:
https://travis-ci.org/iskiselev/TravisExperiments/builds/76875707
Please look on next log lines:
[code]

There I've run tests from sample project using nunit-console.exe and it fails with System.InvalidCastException, after it I'v

[2015-08-23 20:27] CharliePoole commented on #77
There seems to be a combination of issues causing your problem.

NUnit 2.x uses the 2.0 runtime although it can (and does) run under higher runtimes. You are using Mono 4.0, which no longer supports the 2.0 runtime, so everything gets run under the higher level runtime. That's what's happening with you.

NUnit 2.x has always had an issue with it's internal assemblies being referenced by the tests.

[2015-08-23 21:19] iskiselev commented on #77
Thank you for clarification, looks like setting all referenced libraries as not for copy local resolve issue.
I've checked once more - if I install package under VS2015, it does not set CopyLocal=false.
It works good in VS2013.

[2015-08-24 05:17] iskiselev commented on #77
According to http://blog.nuget.org/20150729/Introducing-nuget-uwp.html and https://docs.nuget.org/release-notes/nuget-3.1 support of install.ps1 is deprericated and was removed in NuGet 3.1.
Maybe it worse to ask question in NuGet/Home#627 how to support developer only libraries dependencies (copylocal=false) without powershell install script.

[2015-08-24 15:20] CharliePoole commented on #77
Thanks for asking them.

[2015-08-24 19:57] OsirisTerje opened #78 "Nuget version install script doesn't work withVS 2015"
The #77 issue had a comment on this, and it proves there is an issue in Nuget https://github.com/NuGet/Home/issues/1245 that causes the adapter dll's to not be set to Copy Local = false.  This means the adapter dll's will be present in the projects output, not what one would want to happen.  They do no harm, but it can be confusing and it is not needed.
The install.ps1 script can be changed to avo

[2015-08-24 20:05] CharliePoole commented on #78
Why a new issue? Seems like this just duplicates #77.

[2015-08-24 20:17] OsirisTerje commented on #78
Issue 77 is about Mono, and there is afaik no powershell support on Linux/Mono, so that issue must be resolved differently.  This issue is about the comment at the bottom of #77 which is different and have a different resolution

[2015-08-24 20:20] iskiselev commented on #77
Tested it more - install.ps1 is called, but $package contains only two properties - Id and Version. There is no AssemblyReferences inside it, that's why script do nothing.

[2015-08-24 20:24] OsirisTerje commented on #77
I had a conversation with the nuget team about this, and it is a bug in Nuget 3, see https://github.com/NuGet/Home/issues/1245

[2015-08-24 21:43] CharliePoole commented on #78
True. However, the 2015 install caused the problem and there doesn't seem to be anything else we can actually fix on #77. I'll confirm that's the case and close it.

[2015-08-24 21:49] CharliePoole commented on #77
So let's go back to the original issue and see what remains.

How are the NUnit assemblies getting onto the Travis system? Are you checking them into your repo or is your script restoring them? Either one will be a problem when trying to build the project on a Linux system, if the assemblies end up in the output directory.

[2015-08-24 22:12] iskiselev commented on #77
Really this issue will be resolved as soon as #78 will be resolved.
I have next scenario: project was created in Visual Studio 2015, after it NUnitTestAdapter packege was installed. Due to #78, nunit assemblies was not marked with CopyLocal=False.
After it project was saved and checked into repository. On Unix side, packages was restored (no script run at this point and it is right) and project bu

[2015-08-24 22:36] CharliePoole commented on #77
I'd say it's not generally a good idea to check the adapter into the repo for any application that runs on non-windows systems. If you can find an alternative, I'd do that. One way would be to use the vsix.

In any case, I see it the same way and I'll close this issue.

[2015-08-24 22:36] #77 closed

[2015-08-31 18:31] pessimism opened #79 "Adapter double runs tests in VS2015 with nuget version and VSIX version both installed"
Given a VS2013 solution with the VSIX version installed and one copy of the nuget version in the solution, right clicking a test in test explorer and debugging launches the test one time

Given the same solution in VS2015 with the same VSIX version installed and same one copy of the nuget version in the solution, right clicking a test in test explorer and debugging launches the test twice.

Removi

[2015-08-31 18:50] CharliePoole commented on #79
We can try to confirm this but if it's confirmed it sounds like a VS2015 issue. If VS calls the adapter twice, then it will do it's job twice. :-)

For information, is the vsix version the same as the nuget version?

[2015-08-31 19:48] pessimism commented on #79
Yes, both are 2.0.0

[2015-08-31 20:23] OsirisTerje commented on #79
I've checked it and can confirm it is a bug, it does so both for a Run and a Debug Run.  I have sent information to the product group in MS about this.

[2015-08-31 20:27] pessimism commented on #79
Thanks for the quick response and help guys!

[2015-09-01 11:52] jaydeboer opened #80 "Exception on unobserved task crashes the test runner"
It appears that if you have an async event handler that throws an exception, the test runner crashes and the test run is aborted.  I have a simple sample project at https://onedrive.live.com/redir?resid=52A85D37086B3CF2!3791&authkey=!ABYZo_uanh5YEEQ&ithint=file%2czip

I would have expected the test to fail and the test run to complete.

[2015-09-01 14:27] CharliePoole commented on #80
It would be helpful to know if this is an adapter error or an NUnit error. Can you try to run it using the nunit console or gui runner?

[2015-09-01 22:41] jaydeboer commented on #80
Here are the results from running it in the GUI runner.  That is the first time I've used NUnit outside of Visual Studio or Xamarin Studio, but it looks to me like the test failed properly.  The GUI runner didn't crash anyway.   Is there anything else I can do to be of help?   Here is the output from the tool:
![nunitguitestresults](https://cloud.githubusercontent.com/assets/5098996/9618936/4b16e2

[2015-09-02 00:24] CharliePoole commented on #80
Thanks, that will help us narrow it down.

[2015-09-18 06:29] Atanoly opened #81 "Test Explorer does not see any test"
I use Visual Studio Express 2015 and want to have Nunit tests.
I've added Nunit framework, Nunit adapter (Nunit Runner also tried to add) to the solution/project reference then cleaned and built solution but test did not appear in Test Explorer.
I tried to use Nunit framework with Console Application, with Class Library and with both there were no tests in Test Explorer after solution was built.

[2015-09-23 22:00] jkrall commented on #81
Same problem in my project.  Worked before, but perhaps a recent VS upgrade broke this?

[2015-09-24 12:19] OsirisTerje commented on #81
The Express editions don't support extensions.  Are you sure you didn't use another edition earlier ?
Please try the Community Edition instead, it covers more, it supports extensions, and is still free, for all but enterprises.  https://www.visualstudio.com/products/visual-studio-community-vs

[2015-09-24 13:16] johnlundberg commented on #81
I have the same problem in Enterprise 2015

[2015-09-24 13:29] OsirisTerje commented on #81
@johnlundberg:  Do you use the NUnit vsix adapter or the NUnit nuget adapter ?  And, NUnit 2 or NUnit 3 ?

[2015-09-24 13:32] johnlundberg commented on #81
I installed from the "Extensions and Updates" menu so I suppose it is the vsix adapter. It is NUnit 2.

[2015-09-24 13:44] OsirisTerje commented on #81
If you do a test run, what is written to the Output/Test pane ?

[2015-09-24 13:48] johnlundberg commented on #81
I click "Run All" in the Test Explorer and the solution builds, but nothing at all gets written to the Tests pane.

I use Code Rush's test runner before updating to Visual Studio 2015, so I am a bit unfamiliar with the Test Explorer. I might be doing something wrong but I don't think so.

[2015-09-24 14:04] OsirisTerje commented on #81
I you just do a Rebuild All, then look in the Output/Test pane, you should see the following:
------ Discover test started ------
NUnit VS Adapter 2.0.0.0 discovering tests is started
NUnit VS Adapter 2.0.0.0 discovering test is finished
========== Discover test finished: 1 found (0:00:00.0990052) ==========
The Test Exlorer runs a discovery when the solution is built.
Do you see anything there at

[2015-09-24 14:12] johnlundberg commented on #81
Ah, Rebuild did the trick, I thought the discovering would be triggered by a build.

Also my Default Processing Architecture was set to x86 while my tests where x64. Therefore they were never found the last time I did the rebuild.

Sorry to take up your time, and thank you for your help

[2015-09-24 14:33] OsirisTerje commented on #81
Nice to hear!
Btw, The x86 - x64 is a bit nasty, it should be more easy to see, or have a warning to it.

@Atanoly , @jkrall :  If it really wasnt Express, do any of you have anything similar ?  Or did you try the Community Edition?

[2015-09-24 16:22] JXPrime opened #82 "Test with the same name found when using TestCaseData"
We're using the TestCaseData attribute to generate tests in our solution. I've run into an issue with the VS runner where I get an error similar to the following:

A test with the same name 'Foo.Tests.Unit.Core.Services.Baz.TestMethod(SomeEntity, 0,SomeOtherEntity,-50)' already exists. This test is not added to the test window.

It seems that the nUnit GUI handles this correctly, showing tests in

[2015-09-24 17:03] OsirisTerje commented on #82
I just tried the code from http://www.nunit.org/index.php?p=testCaseSource&r=2.5 to see if it would repro, even replaced one parameter with a field, but it works as it should:
![image](https://cloud.githubusercontent.com/assets/203432/10080233/c6085922-62ee-11e5-800c-89c9337f0442.png)

Can it be that you have the duplicates somewhere else ?
Also, have a look at the output pane in the Test explorer

[2015-09-25 03:05] CharliePoole commented on #82
Although it's not a true fix, I think the easiest workaround is to set the
test names in your test case data instances.

Charlie

On Thu, Sep 24, 2015 at 10:03 AM, Terje Sandstrom <notifications@github.com>
wrote:

[2015-09-28 16:31] jaime-rq opened #83 "Long names prevent tests from being discovered"
I get the following error while discovering tests which prevent me from getting tests from all projects.
I would expect to get the same shorted, perhaps receive a warning and then move forward.

Error:
Operation failed. The index entry of length 906 bytes for the index 'Idx_Stale_StateValue_DisplayName' exceeds the maximum length of 900 bytes.

[2015-09-28 17:07] elbaloo commented on #83
I think this is related to https://github.com/nunit/nunit/issues/59

[2015-09-28 18:17] CharliePoole commented on #83
nunit/nunit#59 is the underlying cause but we should handle the error better.

Can you provide a test case to reproduce this problem?

[2015-09-28 18:50] jaime-rq commented on #83
I kept doing debug and found the test, in fact the problem was around the TestCase attribute which had chinese characters:
[TestCase("这个是中文内容, CSharp is the bast", "这是中国语内容，CSharp is the best language.", "这<del class='diffdel'>个</del>是中<del class='diffmod'>文</del><ins class='diffmod'>国语</ins>内容<del class='diffmod'>, CSharp</del><ins class='diffmod'>，CSharp</ins> is the <del class='diffmod'>bast</d

[2015-09-28 19:02] elbaloo commented on #83
Maybe try pasting the code to a [gist](https://gist.github.com/)

[2015-09-28 19:04] jaime-rq commented on #83
didn't know about it, thanks :)
here's the link: https://gist.github.com/jaime-rq/410bc8ff2944ecd31098

[2015-09-28 19:05] CharliePoole commented on #83
Just a note in case anyone using the nunit3-vs-adapter sees this...

In NUnit 3.0, the parameters are currently truncated to 40 chars. So with
the nunit3 adapter, the problem changes from "too long" to "duplicate ids"
in some cases.

On Mon, Sep 28, 2015 at 12:02 PM, Victor Castillo Escoto <
notifications@github.com> wrote:

[2015-10-06 06:12] Atanoly commented on #81
Dear colleagues, sorry for not taking part in discussion, was away for vacation. I've installed VS community edition, changed the Build Platfrom Target option to Any CPU (my system is 64) and the issue gone. After my project was build I got tests in Test Explorer.
I tried to change the Build PlatfromTarget option to Any CPU on VS Express edition but tests did not appear in Test Explorer.

Many tha

[2015-10-06 06:12] #81 closed

[2015-10-08 16:22] Kavignon commented on #33
I have the same issue but with the MS framework for unit testing.
There is no source code available when I'm trying to access a game object I created in VS15 using the MonoBehaviour class.
The calls to the Unity Engine are internal, but I'm trying to look for a workaround in order for it to work !

[2015-10-20 15:02] PAWatson123 opened #84 "NUnit failed to load"
I’m having a "build partially succeeded" issue with this error “NUnit failed to load e:\Builds\184\CSTax\706USServices_Test\bin\Calc.Tests.dll”, but all of the unit test in this project ran and passed (all green).

Build environment
1)	Using NUnit 2.6.4 and NUnit Test Adapter 2.0.0
2)	TFS 2013 – upgraded from 2012
3)	Visual studio 2012 and 2013 have been installed on the server
4)	I did install th

[2015-10-20 17:51] CharliePoole commented on #84
Do I understand you correctly that you have a message saying Calc.Tests.dll cannot be loaded, but it is actually loaded and the tests run successfully? If that's not what you're saying, the rest of this post may not help...

Is it possible that you have both the NUnit 2 adapter and the NUnit 3 adapter installed? This is perfectly valid, but it's possible that NUnit 3 is actually issuing the messag

[2015-10-20 19:19] PAWatson123 commented on #84
Yes that's what I'm saying, the tests get loaded and run successfully.

Yes one of our E2E test projects (a separate project and solution) are using NUnit 3.0 and the test adapter, both of these packages were added to the solution thru nuget, and they were not added the visual studio.

So
1) Is this a case were NUnit3TestAdapter 3.0.2. doesn't play nicely with NUnitTestAdapter 2.0.0? If so is this

[2015-10-20 19:57] CharliePoole commented on #84
Apparently that's the case. It wasn't a bug before, but now it is... since you reported it. :-) I'm adding this to the next CTP.

WRT converting all your tests to NUnit 3.0, in your place, I would wait. By calling it a beta test, the publishers of the software (us) are saying it's not yet ready for production. Presumably, we have reasons for that. :-)

In fact, the problem is mainly one of stabili

[2015-10-20 20:00] CharliePoole commented on #84
In the case of the NUnit 2 adapter, the issue is that the version seems to be hard-coded in the message. This should be an easy fix.

I'm creating a separate issue for the NUnit 3 adapter, since it's a different project.

[2015-10-20 21:24] mgregory22 opened #85 "Extreme delay in running tests after upgrading to VS2015"
I created a 2 project solution in VS2013 community edition with Nunit.  I have 136 tests in one project and 10 tests in the other.  I would "Run All" and all the tests would run in one second.

A couple weeks ago I upgraded to VS2015.  I had to make a few tweaks to get Nunit working again (I think I just had to reinstall it).  It now works, but when I do a "Run All", it will run the one project's

[2015-10-21 14:13] PAWatson123 commented on #84
I removed our E2E project (the one using NUnit 3.0 ) off the build server, now all my builds are green again.
Thanks for the help!

[2015-11-03 06:52] jmecosta opened #86 "after upgrading to last nunit 3 rc, adpater no longer can debug failed tests"
Hi,

Seems tests that pass i am able to debug, tests that fail i cannot and i get this exception:

Exception thrown executing tests in D:\prod\tools\MSBuild-SonarQube-CXX\BuildDrop\Test\AssemblyPatcherTask.Test.dll
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.ArgumentException: Invalid filter element: tests
Parameter name: xmlNo

[2015-11-03 07:02] jmecosta commented on #86
and i get loads of duplicate tests provided by the explorer. i am using vs 2013 and i dont have nunit 2 adpater installed

[2015-11-03 08:17] jmecosta commented on #86
![image](https://cloud.githubusercontent.com/assets/1041352/10903510/223e16b2-8213-11e5-9a70-ffa1103c155c.png)

if trying to debug the blue tests i get the exception above, the green ones work fine.

ive check all my extensions and i dont have any extension that could provide a those duplicate entries.

this is the log during discovery:

------ Run test started ------
NUnit Adapter 3.0.2.0 executi

[2015-11-03 11:47] CharliePoole commented on #86
The last release of the NUnit 3 adapter (CTP-4) works with NUnit beta 4. We
have not yet put out a new release.

On Tue, Nov 3, 2015 at 12:17 AM, Jorge Costa <notifications@github.com>
wrote:

[2015-11-03 11:49] #86 closed

[2015-11-03 11:50] jmecosta commented on #86
it does work, however seems to have a weird behaviour showing duplicate tests. not sure if you can confirm this. i see this in this repo: https://github.com/SonarOpenCommunity/sonar-cxx-msbuild-tasks

[2015-11-03 11:58] CharliePoole commented on #86
Unfortunately, it merely appears to work, at least as I would define
"working" :-)

From beta 5, there are changes to the API that require corresponding
changes to the adapter. Because we are in beta, we have made no attempt to
maintain backward compatibility, which would be extremely difficult anyway.

So the beta 4 core engine, which is embedded in the adapter, is able to see
that the test uses

[2015-11-03 11:59] CharliePoole commented on #86
To clarify, since I would not expect it to work at all, I don't want to
spend time figuring out why you see duplicates using this old version.
Better to spend the time in creating the next version.

On Tue, Nov 3, 2015 at 3:57 AM, Charlie Poole <charliepoole@gmail.com>
wrote:

[2015-11-03 12:03] jmecosta commented on #86
ok, go it. i had the impression you said its supported :) i will wait the the rc thanks

[2015-11-03 19:04] nbelley commented on #84
Any ETA on that? I didn't have any problem before I update to Visual Studio 2015 and TFS 2015, now all my tests are runned and successful, but I have a «NUnit failed to load C:\Builds\1\xxx\DEV.Build - Server\bin\XXX.Tests.dll » for each test projects in the solution.

Any workaround?

[2015-11-03 19:19] CharliePoole commented on #84
I'm working on it this week. No workaround that I can think of, however.

[2015-11-03 19:21] CharliePoole commented on #84
My mistake. I thought we were on the NUnit 3 Adapter issue. That's what I'm working on.

[2015-11-03 19:31] nbelley commented on #84
Oups, my mistake also, if it won't be a problem in NUnit 3, I'll be ok with it also.

[2015-11-08 14:54] AdamCooperLivingLens commented on #85
I'm seeing the same issue, tests run quickly when run by assembly but there is an extremely large delay when moving from one assembly to the next when run via "Run All". The delay can be multiple minutes.

[2015-11-10 03:37] ErikCL opened #87 "Can't overload async/await methods with NUnit Test Adapter"
I'm getting a `System.Reflection.AmbiguousMatchException` when **at least one** of the methods are async **and the method is overloaded** when the NUnit tests are run using the NUnit Test Adapter 2.0.0.0 in Visual Studio. I'm able to run the tests without problem when I use the ReSharper unit test runner. I also posted this on [StackOverflow](http://stackoverflow.com/q/33620614/5190842)

[code]

[2015-11-10 04:54] CharliePoole commented on #87
Does the test run correctl under the nunit console or gui runners?

[2015-11-10 15:01] ErikCL commented on #87
Yes it runs correctly under the current stable release of the offical GUI test runner 2.6.4 (*win*) found at http://www.nunit.org/index.php?p=download

[2015-11-10 17:04] CharliePoole commented on #87
Thanks @ErikCL That will help us and it's good news! If the error were in NUnit 2.6.4, which we are not planning to maintain further, you'd be stuck. Since it only occurs in the adapter, it's should be something we can fix!

Please add info about the environment under which you are running the adapter.

[2015-11-10 17:10] ErikCL commented on #87
I've noticed this bug on my local environment with Windows 8.1 running Visual Studio Ultimate 2013 Update 5. I've also noticed this bug on the standard Visual Studio Online hosted build server.

[2015-11-20 23:22] LordJZ opened #88 "Exception in object Finalizer crashes TE.ProcessHost.Managed.exe cancelling test runs"
Visual Studio 2015. This is also reproduced on NUnit v3 adapter.

Consider this piece of code:
[code]
(Full solution [attached](https://github.com/nunit/nunit-vs-adapter/files/40641/NUnitAdapterCrash.xlsx) - treat .xlsx as .zip archive)

When running all tests, this test spec succeeds when run in:
* NUnit-Console.exe
* NUnit.exe
* R# Test Runner

But test does not run when run in VS Test Explorer

[2015-11-22 15:46] OsirisTerje commented on #88
This should be fixed in VS 2015 Update 1 RC, can you check ?

[2015-12-01 21:25] CharliePoole commented on #71
To be handled in 3.0 by nunit/nunit3-vs-adapter#47

[2015-12-01 21:43] CharliePoole opened #89 "Update documentation to reflect issue #71"
Since #71 is only being fixed in the 3.0 adapter, the limitation needs to be documented for the 2.0 adapter.

[2015-12-01 21:49] CharliePoole commented on #43
Looks like nobody followed up on my Sep 1 question

[2015-12-01 21:52] CharliePoole commented on #43
@OsirisTerje This seems like something we would either fix in both or close if we can't confirm it.

[2015-12-01 21:54] CharliePoole commented on #23
@OsirisTerje Not sure what to do with this. Both wikis have sets of instructions now. Should we close this? Give them a review first?

[2015-12-01 21:57] CharliePoole commented on #22
Both the priority and the assignment to the fix-in-both milestone are dependent on confirming the bug.

[2015-12-01 23:00] CharliePoole commented on #19
@OsirisTerje Since this is caused by an issue in NUnit V2, I'm inclined to close this as not (our) bug. It will never be fixed in NUnit.

For 3.0, the behavior is entirely different so this particular bug can't arise.

What do you think?

[2015-12-01 23:03] CharliePoole commented on #15
I increased the priority from low to normal in the context of 3.0. i agree it's 3.0 only.

[2015-12-01 23:05] CharliePoole commented on #14
This already exists as an issue in the 3.0 adapter: nunit/nunit3-vs-adapter#2

I'm taking it out of the 3.0-only group since we need the same thing for this adapter.

Others have done this on Appveyor, so I think we can do it as well.

[2015-12-01 23:07] CharliePoole commented on #12
@OsirisTerje This seems like one we would fix in both if confirmed.

[2015-12-01 23:15] CharliePoole commented on #9
I agree this is 3.0 only. That said, the meaning changes substantially in 3.0. We will have to decide
1. whether to support extensions
2. whether to support user extensions
3. how users can install their extensions.
In the end, none of this has anything to do with NUnit V2 addins so a new issue should be written to refer to this one.

[2015-12-01 23:18] CharliePoole commented on #6
On the surface, it seems like we would want to fix this in 2.0.

[2015-12-05 20:42] OsirisTerje commented on #85
Can you please recheck this with Visual Studio 2015 Update 1 ?    There are several issues resolved there that might positively affect this.
@mgregory22 :  I tried your project, and it works fine for me, no delays.

[2015-12-05 21:20] OsirisTerje commented on #88
I have this confirmed now, but it might be in the VSTest system itself, so I have reported this in to the PG, and will await their response.

[2015-12-05 21:40] OsirisTerje commented on #83
I was trying to repro this, but to me this works.
What I get in the Test output window is:
     Contents of string 'ThisHasALongName("\x8FD9\x4E2A\x662F\x4E2D\x6587\x5185\x5BB9, CSharp is the bast","\x8FD9\x662F\x4E2D\x56FD\x8BED\x5185\x5BB9\xFF0CCSharp is the best language.","\x8FD9<del class=\'diffdel\'>\x4E2A</del>\x662F\x4E2D<del class=\'diffmod\'>\x6587</del><ins class=\'diffmod\'>\x56FD\x8BE

[2015-12-07 19:32] CharliePoole commented on #15
I created nunit/nunit3-vs-adapter#97 to track this for the 3.0 adapter. Despite having agreed with it's being 3.0 only last week, I'm not really happy with closing it here. It seems like a pretty fundamental problem, which we ought to fix in the adapter itself. In any case, I dropped it from the (pseudo-)milestone.

[2015-12-08 08:55] #85 closed

[2015-12-08 08:59] #82 closed

[2015-12-08 09:35] #73 closed

[2015-12-08 11:37] AdamCooperLivingLens commented on #85
Issue is resolved for me with Update 1

[2015-12-08 11:58] mgregory22 commented on #85
Update 1 resolved it for me too.  You bet.  Thanks for looking into it.

[2015-12-08 12:27] CharliePoole commented on #82
@OsirisTerje Could you label this as to what closing it means?

[2015-12-08 12:48] CharliePoole commented on #67
@OsirisTerje I moved this from the 3.0-only milestone. Why didn't you think it should be fixed in 2.x?

[2015-12-08 12:51] CharliePoole commented on #22
@OsirisTerje I moved this from 3.0-Only because it seemed like it should either be fixed in both or closed if not confirmed. Is there some reason not to fix in 2.0 if confirmed? Note that I'm the one who gave it a priority:normal - you may not agree.

[2015-12-08 12:54] CharliePoole commented on #11
@OsirisTerje Seems like we would fix this if confirmed. Do you disagree?

[2015-12-08 14:25] OsirisTerje commented on #11
Agree

[2015-12-15 18:07] StarWars999123 opened #90 "Manipulated TestCaseSource arguments (strings), if they contain apostrophes"
The Nunit test runner can not handle apostrophes in string parameter values. After building the project, the test explorer shows different test cases than expected. Instead of the Input of the TestCaseSource >>Tim'sHouse<< you'll see a test >>EnterTest("Tim\'sHouse")<<.
In my case this completly wastes the important test case, and i'll have to correct the input arguments afterwords in the procedur

[2015-12-15 18:32] rprouse commented on #90
Are you using the original NUnit 2 adapter or the new NUnit 3 adapter?

[2015-12-16 01:21] joshbouganim opened #91 "test widget doesnt appear when using TestCaseSource"
I'm not sure what to call it, but i am referring to this check icon, when clicked, expands to a bigger action menu:

http://snag.gy/qxQIe.jpg

it does not appear when using TestCaseSource:

http://snag.gy/rhPlN.jpg

i understand why this happens because testcasesource renames the unit test but is there anything that the test adapter can do to still make the widget appear?

[2015-12-16 07:11] CharliePoole commented on #91
Is this the same as #29?

[2015-12-16 09:10] StarWars999123 commented on #90
The original Nunit 2 Adapter, however. The same issue appears, if I use the Nunit-GUI of the Visual Studio project. I also changed the string to >>string[] mypasswords=new String[] {@"'"};<<.

However, Nunit (2.6.4.14350) still adds an slash before and discovers the test as >>EnterPassword("\'")<<!

[2015-12-16 11:58] OsirisTerje commented on #91
Yes, this is the same, it has been reported to MS PG.
Closing this as a duplicate

[2015-12-16 11:58] #91 closed

[2015-12-16 14:52] rprouse commented on #90
Thanks, we will test if this has been fixed in NUnit 3.

On Dec 16, 2015 4:10 AM, StarWars999123 <notifications@github.com> wrote:

The original Nunit 2 Adapter, however. The same issue appears, if I use the Nunit-GUI of the Visual Studio project. I also changed the string to >>string[] mypasswords=new String[] {@"'"};<<.

However, Nunit (2.6.4.14350) still adds an slash before and discovers the t

[2015-12-18 16:33] jessehouwing opened #92 "Build 2015 (vNext) fails when a test is ignored using [Ignore("No reason given")]"
This is with the latest NUnit 2.6 version and the latest NUnit runner (2.0), both fetched from Nuget.

All projects are .NET 4.0

![2015-12-18_17-31-29](https://cloud.githubusercontent.com/assets/4173387/11901712/4c7c6ec0-a5ad-11e5-9e81-1e2d442e9896.png)

[2015-12-18 18:30] OsirisTerje commented on #92
I'll set up a repro

[2015-12-19 13:10] OsirisTerje commented on #92
What is happening here is that the test(s) with Ignore are in fact being skipped, but the Ignore statement including a reason text causes this message to be output in addition.  This happens only on the TFS Build vNext, not on the old Xaml build and not on standalone VS.

[2015-12-21 08:51] OsirisTerje commented on #92
This should be a warning text in vNext, as it is in Visual Studio. The issue has been reported to the MS PG, and we'll close it here, as we can't do anything.

[2015-12-21 13:04] StanBPublic opened #93 "Attempt to load assembly with unsupported test framework"
I wonder why I get this error:

[code]
The assembly in question has reference to nunit 3.0.5813.39031. Is this version not supported?

[2015-12-21 14:07] OsirisTerje commented on #93
It seems like the X.IntegrationTests.dll you have is written using a different framework, it can be then also be NUnit3.  If you created this recently, and just installed NUnit, you will get NUnit 3, not NUNit 2, and then you need to install the NUnit 3 adapter (https://visualstudiogallery.msdn.microsoft.com/0da0f6bd-9bb6-4ae3-87a8-537788622f2d)  .  The NUnit 2 adapter can run at the same time, bu

[2015-12-21 19:00] CharliePoole commented on #92
@OsirisTerje How about something like vs-followup as a label (or other words that make sense to you) That would eliminate strangeness (to me) of having both a closed: and a status: on the same issue.

[2015-12-21 19:03] StanBPublic commented on #93
It worked, thank you (I thought that installing NUnit3 adapter uninstalls 2..)

[2015-12-21 19:03] #93 closed

[2015-12-21 19:57] jessehouwing commented on #92
In this case it may make sense to link it to an issue in the
vso-agent-tasks project...
On Dec 21, 2015 20:00, "CharliePoole" <notifications@github.com> wrote:

[2015-12-26 15:50] OsirisTerje commented on #83
I'm closing this as the issue test I have doesn't reproduce the behaviour.

[2015-12-26 15:50] #83 closed

[2015-12-26 21:50] OsirisTerje commented on #88
The same issue, different repro, is here:  https://github.com/nunit/nunit-vs-adapter/issues/80

[2015-12-27 00:23] OsirisTerje commented on #90
This error has been fixed in the NUnit3 adapter.  It should be trviial to fix this in the the 2. adapter.
Repro solution here https://github.com/OsirisTerje/NUnit.Issues   in the Issue90 folder

[2015-12-27 21:20] OsirisTerje commented on #12
I have tried to repro this, but it seems to work as it should.  The repro is here https://github.com/OsirisTerje/NUnit.Issues  under folder Issue12.
I'm closing this as norepro.

[2015-12-27 21:20] #12 closed

[2015-12-27 21:27] CharliePoole commented on #12
It's pretty old, so not surprising. How do you want to handle the 3.0 part of these issues? Move to 3.0=Only for later checking? Check it out immediately and drop from any milestone?

[2015-12-28 11:39] OsirisTerje commented on #12
This also works with NUnit3.  I have removed the milestone.

[2015-12-28 11:52] OsirisTerje commented on #87
Confirmed.  [Repro here](https://github.com/OsirisTerje/NUnit.Issues). folder Issue87

[2015-12-28 12:31] pvlakshm commented on #88
Thank you raising this to us. I am able to repro it. Will get it looked into.

[2015-12-28 12:31] pvlakshm commented on #80
Thank you raising this to us. I am able to repro it. Will get it looked into.

[2015-12-28 12:32] pvlakshm commented on #79
Thank you raising this to us. I am able to repro it. Will get it looked into.

[2015-12-30 10:11] isaacllopisaracil opened #94 "Explicit tests appear as warnings in NUnit 3.0"
This issue comes from this other one for reference:
https://github.com/nunit/nunit/issues/50

According to the definition of the Explicit tests in NUnit:

However, after upgrading my NUnit tests to 3.0 and the VS Adapter, the tests marked as Explicit show as Warnings instead, marking my tests list with a yellow-orange warning error color.

[2015-12-30 18:30] OsirisTerje commented on #94
Moved to NUnit3 adapter
Closed here.

[2015-12-30 18:30] #94 closed

[2015-12-31 15:03] rprouse commented on #87
Fixed by #95

[2015-12-31 15:03] #87 closed

[2016-01-01 18:09] OsirisTerje commented on #90
This comes from the underlying engine, in NUnit3 it is fixed, in NUnit 2.X it is not.  We can modify in the adapter but there must be some rule for doing that, we don't want to remove intentional '\', but I would assume it would then add double-backslashes,.so the rule can be to delete single backslashes.

[2016-01-03 20:40] CharliePoole commented on #84
This is designated milestone 2.2, but the version has been changed to 2.1.0.7. Is it intended for a private build for a user?

[2016-01-19 06:13] prawalagarwal commented on #92
Whatever is shown on the console in VNext builds is the output coming out from the vstest exe (the same executable which runs test for VS IDE too), which in turn is showing the output from nunit adapter. Here the ignore message comes out in the stderr stream from the nunit adapter and hence the red color. Running from CLI also prints the message but CLI is not color coding the stderr. It just colo

[2016-01-19 08:43] jessehouwing commented on #92
Since this is informational text, should it not be pushed to the StdOut instead of StdErr?

[2016-01-19 09:18] prawalagarwal commented on #92
Yes it should be pushed to stdout. Will be interesting to find out why nunit adapter was implemented this way.

[2016-01-19 15:49] OsirisTerje commented on #92
The test adapter just converts whatever comes from NUnit itself,  the test outcome from an Ignored test is TestOutcome.Skipped.    Then the message is added to the Result.ErrorMessage property, there is no other message properties.  The convertion to stderr and stdout is not in the adapter.  There is a collection of TestResultMessages which is not being set.  The purpose of this collection is not

[2016-01-19 15:51] OsirisTerje commented on #92
The relevant code is here:  https://github.com/nunit/nunit-vs-adapter/blob/master/src/NUnitTestAdapter/TestConverter.cs

[2016-01-19 17:08] OsirisTerje commented on #92
I see that @cklutz has a fork where he has used the message collection for that purpose, separating between stdout and stderr.  I assume that is the way to go.  It would be nice if he could add a PR to get that code back into the project.
Using the collection separates between the types, but what is then the ErrorMessage property used for ?

[2016-01-19 17:54] CharliePoole commented on #92
The adapter does not write to stderr or stdout. A quick look at the code will show that and it's obvious that it can't since it's not a console program. What the adapter does is provide TestResult objects to the controlling program - vstest in this case - which then decides what to do with it.

I think what @prawalagarwal actually means is that messages can be provided as a part of the result outp

[2016-01-19 18:04] CharliePoole commented on #92
@cklutz I sent you an invitation to become a contributor to NUnit. It looks like you have already done several things in your fork, which are outstanding issues in this adapter and/or the v3 adapter. I hope you'll join us.

[2016-01-20 07:08] cklutz commented on #92
@CharliePoole Thanks! I did. Although no promises about my (current) availability ;-)

[2016-01-23 22:08] OsirisTerje commented on #92
@cklutz Any chance for you to move the relevant code up to a branch here - so we can have a go at it ?  If you can get it up, I can start do the relevant testing on it.  Would also be great to have your email, mine is up in my profile.
@CharliePoole :  I'll create a feature issue to track that work, but would like to keep this bug open until fixed.  I'll also remove the MS followup since it seems

[2016-01-23 22:09] OsirisTerje opened #97 "Use message collection for reporting back to VSTest"
See discussion at https://github.com/nunit/nunit-vs-adapter/issues/92

[2016-02-02 15:27] CharliePoole commented on #92
@cklutz If you are willing to take this issue on, I'll assign it to you. You said you don't have much time, but I notice you already have the code in your fork. We could copy it, but I think it will be better done if you do it yourself.

[2016-02-02 15:28] CharliePoole commented on #97
@cklutz If you are willing to take this issue on, I'll assign it to you. You said you don't have much time, but I notice you already have the code in your fork. We could copy it, but I think it will be better done if you do it yourself.

[2016-02-02 15:29] CharliePoole commented on #92
@cklutz Whoops! I posted on the wrong issue - reposted the comment on #97!

[2016-02-05 16:46] Thierry-S commented on #82
Similar to these in nunit3-vs-adapter:
https://github.com/nunit/nunit3-vs-adapter/issues/34
https://github.com/nunit/nunit3-vs-adapter/issues/78

[2016-02-09 10:47] isaacllopisaracil opened #98 "Request: Collapse All button"
It so often happens that the VS Adapter shows the first element in the test tree uncollapsed and the rest collapsed, and if I'm working with another element in the tree (another assembly or class) I have to scroll all the way down.

VS added the "Collapse All" button in the Solution Explorer for situations like this. Can the test adapter for VS studio allow for this too?

[2016-02-09 12:19] CharliePoole commented on #98
The test window is part of visual studio. The adapter can only run and report tests.

[2016-02-09 12:19] #98 closed

[2016-02-09 12:19] CharliePoole commented on #98
The test window is part of visual studio. The adapter can vonly run and report tests.

[2016-02-22 15:26] hickford opened #99 "Show exception details and stacktrace if TestFixtureSetUp blows up"
Reproduced from https://stackoverflow.com/questions/1411676/how-to-diagnose-testfixturesetup-failed

NUnit should show exception details and stacktrace if TestFixtureSetUp blows up, as it does when a test fails.

[code]

[2016-02-22 15:57] CharliePoole commented on #99
The NUnit VS Adapter is... well, an adapter! It can only __adapt__ NUnit to the interfaces and displays provided by the Visual Studio Test Window. That window is exclusively devoted to listing individual test cases, so it's difficult to report any other kind of error.

If you run tests under the NUnit Console runner, TestFixtureSetUp failures are listed individually. Similarly, if you use the Gui,

[2016-02-27 10:42] andrerav opened #100 "Problems discovering/running tests in NHibernate.Spatial using Visual Studio 2015"
Hi,

I am trying to use this adapter to run the tests in the [NHibernate.Spatial](https://github.com/nhibernate/NHibernate.Spatial) project. However, after installing this adapter and building the project I get an unexpected selection of tests to run:

![Test Explorer](http://i.imgur.com/FGiel5q.png)

I expected a roughly equal number of tests from three different projects: Tests.NHibernate.Spatia

[2016-02-27 18:41] CharliePoole commented on #100
Is there anything different or unusual about the 710 classes listed as External?

Do tests show up as expected using other sorts than by project?

[2016-02-28 00:38] andrerav commented on #100
@CharliePoole To answer your first question: I'm not really sure what to look for. All the tests inherit from common base test classes in Tests.NHibernate.Spatial, and I can execute them just fine using Resharper.

To answer your second question, here's another screenshot sorted by class. This is not really what I expect. It also says "no source available" so I can't navigate to the test source co

[2016-03-01 19:24] OsirisTerje commented on #100
On the no source thing, do you run this in Debug or Release?  If in Release, do the ones with no source have no pdb files being generated ?

[2016-03-15 17:40] drmannion opened #101 ""Source: no source available" for tests in abstract base class"
Test methods defined on an abstract base class are properly included under the derived class in Test Explorer and run as expected.  However, you can not open the test method source code for the base class methods from Test Explorer by double clicking or by pressing F12.  Test Explorer shows the following message: "Source: no source available"
![untitled picture](https://cloud.githubusercontent.com

[2016-03-16 06:40] feinstein opened #102 "UnsupportedFrameworkException When running Tests."
I upgraded my project from Visual Studio 2013 to 2015, than I upgraded my NUnit from the 2.0 to the most recent version 3.2.0 and I installed the  NUnit Test Adapter for VS2015.

When I select to run all tests, I get this message on my Output:

[code]

[2016-03-16 06:46] CharliePoole commented on #102
You should be using the NUnit __3__ VS adapter with NUnit 3.

[2016-03-16 07:00] feinstein commented on #102
Oh, that makes lots of sense hahaha, it isn't on Google's first search results.

I see there is an [adapter ](https://visualstudiogallery.msdn.microsoft.com/0da0f6bd-9bb6-4ae3-87a8-537788622f2d) and a [Nuget ](https://www.nuget.org/packages/NUnit3TestAdapter/3.0.8-ctp-8) version as well, are they the same?

[2016-03-16 07:15] feinstein opened #103 "Make a Visual Mark on Test Results"
The native Visual Studio Tests have a check mark on everything related to that test, for example:

![captura_de_tela_031616_041224_am](https://cloud.githubusercontent.com/assets/8120472/13804661/9e986400-eb2d-11e5-8c05-80b3c186ee56.jpg)

I don't know if it's possible to mimic this functionality, but it will be a nice addition.

[2016-03-16 15:52] CharliePoole commented on #102
You can download both adapters (2.0 and 3.0) as either a vsix extension for global installation in visual studio or as nuget packages for installing in a single solution. If you still have test projects using NUnit V2 as well as V3, the nuget package may make more sense.

[2016-03-16 20:17] OsirisTerje commented on #103
You mean like this ?
![image](https://cloud.githubusercontent.com/assets/203432/13827373/6989aa00-ebbc-11e5-91b3-f09da963bcbe.png)

[2016-03-16 20:57] rprouse commented on #101
This may also happen in this adapter, but according to your output, this should be reported against the v3 adapter.

[2016-03-16 21:03] drmannion commented on #101
My mistake.  I'll post against the v3 adapter as well.

[2016-03-23 16:57] nambrose opened #104 "Tests do not display in the Test pane of VS2015"
I think this is due to a corrupt NUnit file or state somewhere because it was working fine and then stopped.

What happens is we have some NUnit tests and some Visual Studio tests
When I Select the Test Explorer pane and exit VS then restart it, a list of tests briefly displays (I *think* it might just show the VS style tests) then the list becomes blank and never shows any more tests.

I see this

[2016-03-24 20:43] feinstein commented on #103
With the `Test` attribute it works....but not with the `TestCase` attribute:

![captura_de_tela_032416_053905_pm](https://cloud.githubusercontent.com/assets/8120472/14030672/a514c6be-f1e7-11e5-9943-003e82d2a3be.jpg)

Even though the Test Explorer does show the completed successful tests with a check mark:

![captura_de_tela_032416_054043_pm](https://cloud.githubusercontent.com/assets/8120472/14030

[2016-03-24 20:49] CharliePoole commented on #103
Does the explorer window show the correct file location for the test method? If not, there may be something we can fix. But if it does, that means we are passing the correct info to VS and it's basically up to them to do something with it. :-(

[2016-03-24 21:06] feinstein commented on #103
Yes, I think it is showing the right file location...can you make a simple test like mine and see if this isn't something isolated?

[2016-03-24 22:29] CharliePoole commented on #103
I have verified this behavior using the NUnit 3 adapter rather than NUnit 2, which seems to indicate it's just how it works with VS.

The behavior makes a certain amount of sense. If a method is parameterized and has twenty cases, potentially having differing results, then what would be shown?

I'd like to close this as notabug if nobody objects.

[2016-03-24 22:34] feinstein commented on #103
Well, I think if it has 20 cases, and all of them pass, so there should be a green check mark...if one fails, even if the others pass, there should be a red warning....Just like it is in the Test Explorer.

[2016-03-24 22:43] CharliePoole commented on #103
Perhaps, but definitely not in our control.

[2016-03-24 23:00] feinstein commented on #103
I see....do you have a channel of communication with Microsoft to raise this issue with them? I think this will be a nice addition.

[2016-03-24 23:02] CharliePoole commented on #103
@OsirisTerje can you try? They don't talk to me for sure.

[2016-03-26 21:41] OsirisTerje commented on #103
I'll talk with them

[2016-03-26 22:11] CharliePoole commented on #103
Thanks @OsirisTerje

If this turns out to be something they don't expect to change anytime soon, I think we should just close it as not our bug.

[2016-03-27 11:07] OsirisTerje commented on #104
This seems to be an error from EF5.  Have you checked the answers in http://stackoverflow.com/questions/14064434/ef5-getting-this-error-message-model-compatibility-cannot-be-checked-because-th ?    The adapter should still show the test list, so something more might be going on. Can you turn on the verbose setting?  See https://github.com/nunit/nunit-vs-adapter/wiki/Tips-And-Tricks  Further, check

[2016-03-28 17:33] nambrose commented on #104
Thanks for the response. I checked out both articles.

The EF one I am not sure about. The VM where the tests work doesn't have anything like that and neither does my non-functioning machine.

I tried to enable logging but I dont have a registry key like nunit.org on either machine. Do I just add that manually ?

Both adapters are set to type=X86 for the architecture

Its super weird as I *do* get

[2016-03-28 17:36] nambrose commented on #104
Actually what I should do here is make a new project and see if I can get any tests to show there.
Let me see if I can do that and see what happens.

Further advice on enabling verbose logging would be appreciated too.

Adapter version is 2.0.0.0

[2016-03-28 17:58] OsirisTerje commented on #104
To set verbose, you add the key manually, yes

[2016-03-28 18:09] nambrose commented on #104
Hmmm, so I added the key but I dont see any different output.
At the end it does say this:
========== Discover test finished: 3819 found (0:00:17.0085075) ==========

But no tests in my list!

Creating a new project with a single test did work and the test showed up so It must be project-specific however I've blown away my local working directory and re-synced up and still nothing.

Super odd

[2016-03-28 18:11] OsirisTerje commented on #104
That's ok.  Just means the adapter doesn't trigger on anything that would give out a verbose message.  If you could manage to create a repro project and upload it somewhere, we could have a look at what is happening here.

[2016-03-28 18:14] nambrose commented on #104
I'll definitely try to do that but its looking pretty tough.
Going to close this one out now until I can find out more.

[2016-03-28 18:14] #104 closed

[2016-04-19 17:54] JohnLudlow opened #105 "CodeLens not discovering tests with TestCase attributes - Test Explorer can see them"
NUnit Version : 3.2.0.0
     NUnit Source : Nuget
     Visual Studio Version : Visual Studio 2015 Enterprise

I have some tests with [TestCase] attributes. The Test Explorer shows them as expected, with a row for each case. However, when I navigate to one of these tests, I saw that it doesn't have the normal indicator in CodeLens.

Test in Test Explorer:
![image](https://cloud.githubusercontent.co

[2016-04-19 18:24] rprouse commented on #105
This is a duplicate of nunit/nunit3-vs-adapter#55 reported against the NUnit 3 adapter. That issue was closed because it is a limitation/bug in code lens not supporting data driven tests, I believe because MSTest does not. NUnit does not have control over that feature, we just supply the information to Visual Studio. I am going to close this issue as not our bug, sorry.

[2016-04-19 18:24] #105 closed

[2016-04-19 22:45] JohnLudlow commented on #105
Hmmm, guess I missed that when I took a search through your issues.

I guess if it's not your bug then it's not your bug. I kind of half expected this, but when I found some posts saying that CodeLens just uses the same stuff as Test Explorer, it sounded like this was supposed to work.

Maybe I'll see if there's anything on UserVoice.

Thanks!

[2016-04-19 23:55] rprouse commented on #105
@JohnLudlow if you find anything to the contrary, let us know. This is one of those issues we are aware of, comes up often and would like to fix. If there is anything we can do to fix it, we will :smile:

[2016-04-20 12:02] JohnLudlow commented on #105
I've reported it via the Report A Problem tool. I'll let you know if I see any sort of response.

Thanks

[2016-04-21 13:23] dmarzo opened #106 "Start delay of 16s in test discover and execute, because of http request timeout"
I have this sequence:
0000   devenv.exe, TestRunRequest:SendTestRunMessage: Starting.
0010  Informational: Loading tests from  ...
0020 Timeout http request (because of firewall rule, without network connection have no delay)
GET /msdownload/update/v3/static/trustedr/en/disallowedcertstl.cab?2472bccbdab4f384 HTTP/1.1
Host: ctldl.windowsupdate.com
1600 TestRunRequest:SendTestRunMessage: Completed

[2016-04-22 05:53] phasemaster opened #107 "Timeout on TestFixtureSetup does not seem to work"
In the following setup, I expect the TestFixtureSetup to be aborted by a timeout:
[code]
It is not. Why?

[2016-04-22 06:12] CharliePoole commented on #107
Timeout on a test fixture sets the default timeout for each method. There is no timeout setting for fixtures. Per https://github.com/nunit/docs/wiki/Timeout-Attribute...

[code]

[2016-04-22 06:14] #107 closed

[2016-04-22 07:59] dmarzo commented on #106
A workaround its disable this validation behavior by setting a grouppolicy for certification.
See http://stackoverflow.com/a/18315953/229830

[2016-04-28 09:26] tirexx opened #108 "Test explorer window displays test under first trait only"
VS 2015 Update2
Nunit vs adapter 3.0.10

If there are several category attributes, for example:
[NUnit.Framework.TestAttribute()]
[NUnit.Framework.CategoryAttribute("Ci")]
[NUnit.Framework.CategoryAttribute("Integration")]
public virtual void SomeTest()

In the test explorer window, when in "group by \ traits" mode. I see tests only under first category.

[2016-04-28 12:46] rprouse commented on #108
I believe this is a limitation of the Visual Studio test window. I am pretty sure that it can only list each test once therefore tests can only be under one category. @OsirisTerje can you confirm?

[2016-04-29 11:12] tirexx commented on #108
If so, it is a new limitation, because before 2015 update 2 and NUnit 3.* all was ok.

[2016-04-29 19:44] CharliePoole commented on #108
What about NUnit 3.x under earlier releases of VS?

[2016-04-29 21:00] tirexx commented on #108
I don't know.
May be in a week i will be able to install fresh vs 2015 update 1, and check this.

[2016-05-02 23:20] andrerav commented on #100
@OsirisTerje Debug only. The test case here is readily available; simply clone the repo and try it yourself ;)

[2016-05-04 15:57] sam-wheat opened #109 "The dependency NUnit3TestAdapter 3.0.10 in project does not support framework DNXCore,Version=v5.0"
Very sorry if this has been addressed previously.
I've seen this post https://github.com/nunit/nunit-vs-adapter/issues/102 which does not appear to resolve this issue.
I am getting this error after installing NUnit3TestAdapter
The dependency NUnit3TestAdapter 3.0.10 in project Blog.IntegrationTests does not support framework DNXCore,Version=v5.0
Project.json :
{
  "version": "1.0.0-*",
  "descript

[2016-05-05 07:25] CharliePoole commented on #109
The adapter does not yet support dnxcore. :-(

Issue #102 deals with a different issue - using the 2.0 adapter to run 3.x tests.

[2016-05-06 14:13] jeffzickgraf commented on #79
Any update on this?

[2016-05-12 15:52] pvlakshm commented on #79
These are fixed in Visual Studio 2015 Update 2.

[2016-05-12 15:53] pvlakshm commented on #80
This is fixed in Visual Studio 2015 Update 2.

[2016-05-12 15:53] pvlakshm commented on #88
This is fixed in Visual Studio 2015 Update 2.

[2016-05-12 18:27] rprouse commented on #88
@pvlakshm thanks for the update. We will close this issue.

[2016-05-12 18:27] #88 closed

[2016-05-12 18:33] rprouse commented on #80
@pvlakshm thanks for the update. Closing.

[2016-05-12 18:33] #80 closed

[2016-05-12 18:34] #79 closed

[2016-05-13 08:22] IanMcRV commented on #108
I wonder if it might be something to do with Visual Studio Update 2 ?

Otherwise the perfect mechanism for catagorising tests (i find that playlists don't work very well for my needs) but as it stands each test can be in only one category.

[2016-05-13 12:14] CharliePoole commented on #108
This issue is reported against the nunit vs adapter (2.0) and not the nunit3 vs adapter (3.0+)

Can somebody clarify whether the problem exists in both adapters or only one? There are two different codebases for us to work on.

[We might consider combining these projects in the future, but right now they are separate.]

[2016-05-17 12:22] tirexx commented on #108
This issue was reported against:
VS 2015 Update2
NUnit3 Test Adapter 3.0.10

[2016-05-19 07:52] GrimaceOfDespair opened #110 "Tests become undiscoverable until rebuild"
I've got at least 2 solutions (1 with about 6 projects and another one with about 30 projects) in which this problem occurs. I use the NUnit NuGet adapter to run tests in VS 2015. During developing, every now and then, after a build, tests disappear from the Test Explorer. Only a subsequent rebuild fixes the issue.

It seems more people are suffering from this: http://stackoverflow.com/questions/3

[2016-05-19 08:09] ChrisMaddock commented on #110
Is this the NUnit3 adapter, as per the SO question you've linked to?

Which version of the adapter are you using? The issue in that StackOverflow question was fixed in nunit3-vs-adapter/#126, and should be fixed in v3.0.10 of the adapter. If you're on that, it may be a separate issue.

[2016-05-19 08:15] #102 closed

[2016-05-19 08:18] OsirisTerje commented on #108
This is an Update 2 regression of some sort. I have alerted MS about it, and waiting for a response.  And the error is with the Nunit2 adapter too.
It is working with MSTest, however.......

[2016-05-19 08:24] GrimaceOfDespair commented on #110
I'm actually using NUnit 2.6 on NUnitTestAdapter.2.0.0, so maybe the fix was "just" not backported?

[2016-05-21 20:57] OsirisTerje commented on #108
This has been confirmed as a bug in VS 2015 update 2, and will be fixed in VS 2015 Update 3.

[2016-05-21 20:57] #108 closed

[2016-05-23 13:33] tirexx commented on #108
Thanx!

[2016-05-25 11:36] Aswilli4 commented on #84
Is there any update on this issue? Once I added a second dll I am getting this:

    NUnit Adapter 3.0.10.0: Test execution started
    Running all tests in     C:\(FilePath)\new.dll
    NUnit failed to load C:\(FilePath)\new.dll
    Running all tests in C:\(FilePath)\old.dll
    NUnit3TestExecutor converted 28 of 28 NUnit test cases

[2016-05-25 15:04] CharliePoole commented on #84
Are both dlls using NUnit 3? Is 28 the correct number of cases for the old dll?

[2016-05-25 15:06] CharliePoole commented on #84
@OsirisTerje This issue is getting a lot of NUnit 3 discussion, even though it is filed against the NUnit VS Adapter, which is for NUnit V2. Can we do something to clarify this for the users?

[2016-05-25 17:28] Aswilli4 commented on #84
@CharliePoole  Realized I was going about this the wrong way. This has been resolved updated my Assembly file with
      [assembly: NUnit.Framework.Parallelizable(NUnit.Framework.ParallelScope.Fixtures)]

and fixed everything!

[2016-05-25 17:40] CharliePoole commented on #84
@Aswilli4 Hmmm... Are you by chance using a third-party framework that extends the NUnit framework?

[2016-05-25 17:55] Aswilli4 commented on #84
@CharliePoole  I am using VS2015 up to this point I didnt realize the newly added features that NUnit3 had. Simply adding that assembly file changed everything.

[2016-05-25 18:20] CharliePoole commented on #84
The reason for my question is that some third party test frameworks extend NUnit, referencing NUnit 3. If you use such a framework, then your assembly may have no direct reference to NUnit 3. If adding the Parallelizable attribute created the first reference to NUnit 3, that would explain why it works.

But if you are not using such a third party framework, forget everything I just wrote. :-)

[2016-05-30 14:44] GrimaceOfDespair commented on #110
I'm open to aid in resolving this issue. The issue on the NUnit3 adapter has no direct links to the code changes that comprehend the fix, which makes it a bit tough when you're not acquainted with the code base.

Feel free to point me in any direction though.

[2016-05-30 17:24] CharliePoole commented on #110
The bug under the NUnit 3 adapter was never actually worked on, which is why there is no code pointed to. Rather, there were a lot of changes going on at the same time and we basically discovered that it had been fixed by one of them. We never analyzed to figure out why.

However, even if we had the code, we wouldn't necessarily "backport" it to the NUnit Adapter. The reason is that the two adapte

[2016-05-31 07:56] GrimaceOfDespair commented on #110
Ok, tnx for the info. I'll post a link here for my own reference purposes and for any extra pair of eyes that might want to have a look:

https://github.com/nunit/nunit3-vs-adapter/compare/3.0-ctp-8...3.0-ctp-9

[2016-05-31 08:14] GrimaceOfDespair commented on #110
It looks like the most important change was DiscoverTests which had a pretty straightforward refactoring comprising 2 changes.

The first one takes the GetRunnerFor out of a try..finally block, and the second one is about the detection of missing fixtures:

    if (msgNode != null && msgNode.GetAttribute("value").Contains("contains no tests"))
      TestLog.SendWarningMessage("Assembly contains no

[2016-06-01 19:01] CharliePoole opened #111 "Improve descriptions of the adapter"
See issue nunit/nunit3-vs-adapter#174

We need a readme file in this repo.

We should also update the text in both the vsix and nuget packages as Rob suggests in the referenced issue.

[2016-06-01 19:22] CharliePoole commented on #111
I forgot: we decided to change the adapter name to display as NUnit 2 Test Adapter. This will apply to both the vsix and nuget packages. For zips, the version is already part of the file name.

[2016-06-02 16:18] GrimaceOfDespair commented on #110
I've got some more info on this issue, and a clue as to what might be happening.

It seems that sometimes, after a build, the adapter kicks in before the whole bin is written. The effect is that the assembly is not read thus no tests are detected. However, eventually, the whole bin does get written, but only after the adapter has done it's scan.

Subsequently, issuing a build again after applying

[2016-06-02 16:27] CharliePoole commented on #110
If that's true, it seems like it must be a Test Explorer rather than an adapter bug. The adapter only starts discovery when it's called by VS.

[2016-06-02 16:29] CharliePoole commented on #110
On the other hand, we think it was resolved for the NUnit 3 adapter due to some change made. Hmm...

[2016-06-03 08:37] edoua commented on #97
Will this also be ported to nunit3-vs-adapter?
Thanks

[2016-06-03 09:48] GrimaceOfDespair commented on #110
Unless it's actually a different bug?

[2016-06-03 14:39] CharliePoole commented on #97
@edoua This is already fixed in the NUnit 3 adapter.

@OsirisTerje Isn't this issue already done?

[2016-06-04 16:10] KoenigLear opened #112 "fails to work in 32bit or 64bit Visual studio 2015 14.0.25123.00 update 2"
Hi,

 Nunit Adapter fails after an update:

**Previous NUnit version worked fine!! IMHO this change is breaking it:**
https://github.com/nunit/nunit/commit/70c35b12b8250c590ca351ec2623226dc3df16b9?_pjax=%23js-repo-pjax-container

**Running on 32 bits says:**
Cannot run tests in process - a 32 bit process is required.

**Running on 64 bits gets stuck:**
Cannot discover test extensions installed by

[2016-06-04 16:57] rprouse commented on #112
This is filed against the wrong project, but we can help you here.

I think you are correct in your assessment of the change that is causing the error. I think that code should first check if we are already running 32bit and not do that check if we are. @CharliePoole do you agree? If so, we should create a high priority issue in the Nunit Project to get it fixed. It may require an engine hotfix an

[2016-06-04 17:37] KoenigLear commented on #112
@rprouse  it finishes the discovery, is the executor that gets stuck, see the last line. Unfortunately it doesn't ouput any other message.  I need to restart VS to try anything else.

Note: as a work around i changed the reference of my project to 2.6.4, and ran my tests using the Nunit.exe interface 64bit, not ideal but works.   Look forward to an update from you guys. :)

[2016-06-04 18:19] CharliePoole commented on #112
@KoenigLear It can't be the code you are suggesting, since that's in the console runner, which you are not using. It's actually coming from here:

https://github.com/nunit/nunit/blob/fe3ef10843dcef8f789f65d8b484cb975a3b1410/src/NUnitEngine/nunit.engine/Runners/MasterTestRunner.cs#L90

That code was added in case some other runner slipped an invalid setting combination into the engine. However, it

[2016-06-04 18:19] CharliePoole commented on #112
@rprouse You're quite right, we should also check if the current process is 32 bit, but only if we are planning to run in the current process. Otherwise, it would make no sense.

[2016-06-04 20:44] KoenigLear commented on #112
@CharliePoole  the message appears when I set Platform Target 32bit on an exe project.  I assume the Nunit adpater should be able to find the right Nunit execution engine.

As it turns out 64bit is working fine now! the fix seemed related to removing the nunit 3.1x dll and re-adding it. Something may have happened during the update...

[2016-06-04 21:08] CharliePoole commented on #112
There's only one execution engine on this case, the one bundled with the adapter. Whether it finds itself in a 32- or 64-bit process is up to VS.

[2016-06-04 21:11] CharliePoole commented on #112
Look for extra versions of the engine in the packages directory. Sometimes nuget leaves things around after an upgrade and nunit doesn't deal well with that.

[2016-06-04 21:19] KoenigLear commented on #112
I had a look at the nunitframework.dll it says Architecture:Any 64 bit preferred.  Is there a specific 32 bit dll? would I need to load a different Nuget package?

[2016-06-04 21:23] CharliePoole commented on #112
No, as explained it's an error in the code. The master test runner is assuming without checking that it's in a 64-bit process even though VS has loaded it into a 64-bit process.

[2016-06-05 04:02] CharliePoole commented on #112
I'm closing this in favor of issue nunit/nunit3-vs-adapter#181

[2016-06-05 04:02] #112 closed

[2016-06-06 11:35] neofenril opened #113 "NUnit failed to load"
Hi, i'm experiencing issues with the adapter. I've already checked the issue #84 which seems to have similarities with mine  but I cannot find any solutions.
Using VS 2012
Nunit 3
NUnit3.TestAdapter

I'm creating a simple sln with one test NUnit3, then install packages with NUGet, then run it.

I get an UnsuportedFrameworkException because the test want to run with both Adapter 2.0.0 and 3.0.10. S

[2016-06-06 11:55] rprouse commented on #113
@neofenril sorry, but we will need more information. It still isn't clear to me what your problem is or what you are running.

Can you tell us what the error is or what you are seeing in Visual Studio? Can you give us an example of the tests? Are you installing the adapter through NuGet or as a VSIX Extension?

[2016-06-06 12:11] neofenril commented on #113
Ok sorry i'll try to explain it better
I'm creating a solution with a basic test that run well within the Test Explorer Inside Visual Stodio.
But I need to do it this way for my purpose :
`

         var proc = new Process();
            proc.StartInfo.FileName = cmdPath;
            proc.StartInfo.Arguments = Args;
            // set up output redirection
            proc.StartInfo.RedirectStanda

[2016-06-06 15:04] rprouse commented on #109
I am going to close this issue as a duplicate. Microsoft has a new adapter interface for .NET Core. It is being implemented in a separate repository. https://github.com/nunit/dotnet-test-nunit

[2016-06-06 15:04] #109 closed

[2016-06-06 15:45] GrimaceOfDespair opened #114 "Ignoring result"
When I run a set of tests that produce a lot of console output, I get this message for a subset of my tests:

`Test adapter sent back a result for an unknown test case. Ignoring result for 'MyTest'`

Note I have both succesful tests and "unkown test case' from tests in the same assembly.

When this happens, 'MyTest' seems to disappears from the Test Explorer window and CodeLens, and I keep getting

[2016-06-06 15:55] CharliePoole commented on #114
In order for us to know how to treat this report, we need to know the signature of the test that is not known to Visual Studio. If it's a test with parameters, you may find two results reported under one "test" in the explorer window, so check for that as well.

[2016-06-06 16:27] cjbush opened #115 "Test Explorer only shows first category"
If I annotate a test method with:

[Test, Category("Foo"), Category("Bar")]

the Test Explorer window only shows the test under the Foo category. If I change the order and have Bar first, it only shows up under the Bar category. For reference, Microsoft's framework allows grouping into multiple categories. I'm using version 3.2.0 of the adapter and Visual Studio 2015 Enterprise.

[2016-06-06 16:33] rprouse commented on #115
This is a known issue in VS 2105 Update 2 that will be fixed in update 3, see #108

[2016-06-06 16:33] #115 closed

[2016-06-06 16:39] CharliePoole commented on #113
You appear to have both adapters installed. Is there a reason for that? Have you installed one or both adapters globally using the .vsix extension? Your test assembly can't be both NUnit 2.6.4 and NUnit 3 - it has to be one of them!

[2016-06-06 16:59] CharliePoole opened #116 "Use Mono.Cecil to retrieve source code locations"
See nunit/nunit3-vs-adapter#183

I'm marking this blocked since the idea is to backport the fix for the nunit3 adapter once it's in.

[2016-06-06 17:47] cjbush commented on #115
Sorry for the duplicate! Thanks

[2016-06-07 11:52] sankethkrishnappa opened #117 "Exception NUnit.Core.UnsupportedFrameworkException"
I am using Nunit Adapter 3.2.0 and Nunit Core Framework 3.2.1 to build my selenium C# GUI automation project.

Case 1:

Running the solution in my local desktop work fine with no errors. Adapter is able to identify test methods and execute

Case 2:

Deploying this build in a dev CI server complies with no errors, but when the test fails to execute the referred test dll. Its throwing below exceptio

[2016-06-07 14:07] CharliePoole commented on #117
NUnit.Core.UnsupportedFrameworkException is an exception issued by NUnit V2 when finding either no test framework, or a framework other than NUnit V2.

Your CI machine is apparently using NUnit V2 rather than NUnit 3.

[2016-06-07 14:07] #117 closed

[2016-06-08 06:45] GrimaceOfDespair commented on #114
I've witnessed the quirks of parameterized tests numerous times, so I actually ignore issues with them by default. But: it's also occurring for void methods without args.

[2016-06-08 07:12] neofenril commented on #113
Hi,
Well I feel sorry that i had to disturb you for such an error of mine, you were right @CharliePoole , I had both version installed (Tools->Extensions and updates), and I had only checked by a right click on my test and manage nuGetPackage where only the 3.0.0 appeared.
However thank you for the explanations !

[2016-06-08 07:12] #113 closed

[2016-06-08 08:31] CharliePoole commented on #114
What are the versions for the nunit framework and the adapter?

[2016-06-08 10:35] GrimaceOfDespair commented on #114
- NUnit.2.6.4
- NUnitTestAdapter.2.0.0

[2016-07-04 18:45] CharliePoole opened #120 "Appveyor tests fail all the time"
As noted by @rprouse in PR #119

[2016-07-06 12:06] pgrm opened #121 "VS Text Explorer only shows 20 tests"
Hi,

I'm using .net core with this kind of project.json:

[code]

[2016-07-06 12:48] CharliePoole commented on #121
FWIW, this repository is for the (old) NUnit Test Adapter, which supports NUnit 2.6.4 and is at version 2.0. We can discuss it here but if it looks like there is a bug in the NUnit 3 Test Adapter I'll move it over there.

At first glance, it doesn't seem to me that there is a bug here, since our adapter doesn't support .NET Core at this time. We plan for it to do so, but that will require substant

[2016-07-06 12:57] pgrm commented on #121
Thx for the note, I've moved it to https://github.com/nunit/nunit3-vs-adapter/issues/203 and I'll answer your question there

[2016-07-06 12:57] #121 closed

[2016-07-06 13:45] rprouse commented on #121
@CharliePoole if you see `project.json` or .NET Core mentioned, it isn't the v3 adapter, but the `dotnet-test-nunit` repository it should be moved to. `dotnet-test-nunit` does all the integration with Visual Studio for .NET Core along with the command line running :wink:

[2016-07-06 13:59] CharliePoole commented on #121
I figured that is what he should be using, but it sounded like he was saying he used the VS adapter. Maybe we need to think about what we call things, so users can distinguish.

Also, is there a potential issue for users who do try to use the VS Adapter for .NET Core? What happens if you add the adapter package to a .NET Core project? Is it sufficiently user-friendly?

@pgrm In our defense, we had

[2016-07-06 15:23] rprouse commented on #121
Unfortunately, the .NET Core runner has to be named `dotnet-test-nunit`. The convention is hard coded into .NET Core I believe.

I should try it. I do have the V3 adapter installed as a VSIX and it doesn't attempt to load or run the .NET Core tests.

[2016-07-06 16:24] CharliePoole commented on #121
Hard coded naming! Why am I not surprised?

[2016-07-07 10:17] chm-tm commented on #71
The work around mentioned by @bussnik also works in the Visual Studio IDE.
You have to enter `-Trait:"Explicit" -Trait:"Local"` into the Test Explorer search bar.

[2016-07-11 05:17] CharliePoole opened #123 "Create Cake build script for adapter"

[2016-07-13 22:00] #116 closed

[2016-07-14 19:08] #84 closed

[2016-07-14 19:18] OsirisTerje commented on #111
Closed as the code for the change is merged to master.

[2016-07-14 19:18] #111 closed

[2016-07-14 19:51] CharliePoole opened #125 "Visual Studio Test Explorer ignores [Explicit]"
@adamralph commented on [Thu Jul 14 2016](https://github.com/nunit/nunit/issues/1664)

When invoking "Run All" in the VS Test Explorer, all tests are run, whether they have `Explicit` or not.

Is this a know problem?

---

@rprouse commented on [Thu Jul 14 2016](https://github.com/nunit/nunit/issues/1664#issuecomment-232661466)

@adamralph this is a known issue that has been reported at nunit/nuni

[2016-07-14 19:57] CharliePoole commented on #125
@adamralph Based on discussions elsewhere, it appears that you are using the NUnit VS Test Adatper for NUnit V2. I added some explicit tests to a demo that we run under the V2 adapter and they were reported as Not Run when I clicked Run All.

I also ran the same tests using the NUnit 3 Test Adapter, with the same results.

Based on that, I'm inclined to close this as non-reproducible. Can you prov

[2016-07-14 20:14] OsirisTerje commented on #19
Closed as 3.0 is now out.

[2016-07-14 20:14] #19 closed

[2016-07-15 13:31] scara commented on #108
Confirmed that applying VS 2015 Update 3 fixes nunit/nunit3-vs-adapter#184.

[2016-07-15 14:47] tirexx commented on #108
Nice to hear this!

[2016-07-15 20:08] OsirisTerje commented on #125
I can reproduce this as follows:
It works correctly when no search filter is given, and Run All is pressed.
![image](https://cloud.githubusercontent.com/assets/203432/16887042/0ed6bb2c-4ad8-11e6-8715-d990d1df3d41.png)

If a search filter is given,  Run All changes in the Test Explorer to mean just those tests that are within the filter, and in that case the explicit test is also run.
![image](http

[2016-07-15 20:12] OsirisTerje commented on #125
And the behaviour is exactly the same with the NUnit3 adapter.

[2016-07-15 20:16] OsirisTerje commented on #125
And, I don't think we can easily fix this.  What happens is that Run All without a filter calls the Run method in the adapter with the test assemblies as parameter, and we filter based on that.  When the filter is given, the test explorer sends in a list of tests instead, and we just execute on that list.  The exactly same happens if you just select a test and execute that (or select a set of test

[2016-07-15 21:15] CharliePoole commented on #125
@OsirisTerje This is the research I've done as well, posted elsewhere because this issue has been kicked from one project to another several times. I was waiting for feedback from @adamralph before closing it, since he has been shuttled around so much already.

Note that this issue has nothing to do with filters, which is a separate issue we already know about. @rprouse had originally confused it

[2016-07-18 08:59] dnperfors commented on #125
I get similar behavior as @adamralph, perhaps it is related..

The following screenshot is when I run these tests without a filter, but using the 'Run Tests' from the context menu:
![nunitexplicit](https://cloud.githubusercontent.com/assets/170992/16909891/8dfc3fd6-4cd5-11e6-98c7-2ee1aea6120c.png)

Using 'Run All' gives will ignore the tests.

- Visual Studio 2015 Update 3
- Testadapter via vsix
-

[2016-07-18 14:02] CharliePoole commented on #125
"From the context menu" is new information!!! @adamralph is that what you're doing as well?

Somewhat shocking that the two "Run tests" work differently.

[2016-07-18 14:07] CharliePoole commented on #125
@dnperfors Since Explicit means "only run when directly requested, selecting a test and clicking RunTests should execute them. Run All should not. Seems to be what you are seeing as well as @OsirisTerje and I.

If you right click the category "Passed tests" and run them, VS passes the individual test names to the adapter, exactly as if you had selected each of the tests individually. There's no wa

[2016-07-18 15:31] adamralph commented on #125
I haven't had a chance to fully reproduce, but I believe the problem is that when *any* group of tests is run (as opposed to "Run All"), since *some* filter is present, this is interpreted as being an explicit run of explicit tests.

I believe this behaviour is undesirable. E.g. I most often run all the tests in one project at a time. In this case, I want the explicit tests to be ignored. I just w

[2016-07-18 16:00] CharliePoole commented on #125
@adamralph I completely agree auto what _should_ happen. That's how the new gui does it.

Unfortunately, the adapter doesn't know anything about the groupings in the IDE. It has an entry point where  VS gives it a list of tests to run, so it runs those tests.

This is actually a different problem from the use of a TFS filter. The only "filter" on the VS side is the list of names from which the ada

[2016-07-18 17:11] adamralph commented on #125
For me, it's more confusing that when I run all the tests in a given project, the tests marked explicit are being run. It's worse than confusing, it makes the test runner rather unusable. There's no way to run all the tests which are not explicit without running all tests in the solution.

What's more, when using TestDriven.NET and running all tests in a given project, explicit tests are not run,

[2016-07-18 19:49] CharliePoole commented on #125
Thanks for the repro... I can confirm that what you describe is how the Test Explorer window works. Could you please let us know if this is what you meant all along in filing this issue? You initially referred to "Run All" which has been a source of confusion.

As noted previously, however... this is not our code. It's how the VS IDE works. If we had our own extension to run tests, like TD.Net, th

[2016-07-19 06:56] dnperfors commented on #125
This issue not only happens with the adapter for nunit 2, but also with nunit 3...

[2016-07-19 14:53] adamralph commented on #125
@CharliePoole so I guess the problem boils down to the fact that the VS runner always gives you a list of individual test cases to run, rather than saying "all in this project", so you can't tell when individual tests have been selected, or some higher level node, like a project?

[2016-07-19 16:56] OsirisTerje commented on #125
@adamralph :  Yes, you're right.   We're trying to find out if there is any way for us to detect some more information on what the user did.  Currently, afaik, there is none, but we're asking the product group for info on this.

[2016-07-19 17:07] CharliePoole commented on #125
Exactly.

On Jul 19, 2016 7:53 AM, "Adam Ralph" <notifications@github.com> wrote:

[2016-07-20 05:30] pvlakshm commented on #125
Here is my understanding ...
For the repro shown in this thread:

- If you do a “Run All” then the explicit test is NOT run.
- If you select the test and run, then it is run.
- If you set a Filter to “This” and run, then the filter matches both the tests. And then, the explicit test is run.
- If you select a group and run, then it is run.

This is presently by design. Once you run based on a selec

[2016-07-20 05:37] CharliePoole commented on #125
Correct, with two clarifications...

1. The design intent is that of the VS folks - the adapter just does as it's told.

2. Filters are a separate matter and are covered by a different issue since we could conceivably do something about how we apply them.

[2016-07-20 16:28] adamralph commented on #125
I understand the limitations imposed by the VS runner here. Unless there are changes there, I guess there's nothing the NUnit folk can do about this behaviour.

@pvlakshm

IMHO this is very poor design. Take the example of TestDriven.NET. If I select a grouping which happens to contains an explicit test (e.g. class, project, group of projects), that test is not run, the explicit test is not run, b

[2016-07-20 17:15] CharliePoole commented on #125
@adamralph In their defense, I think they were trying to make it "easy" for the adapters/frameworks, which were originally viewed as being fairly simplistic. As I wrote elsewhere, the originators of the Test Window were just emerging from an era where Microsoft guys had to ask management permission to use open source products, and often didn't get it. Then they were suddenly tasked with developing

[2016-07-20 17:23] CharliePoole commented on #125
@pvlakshm To clarify regarding filters... when there is a TFS filter, you don't hand us the selection but the filter itself. We currently take the lazy approach of asking the filter to make the selection, which is why the "Explicit bug" exists for TFS filters.

We could, of course, interpret the filter text ourself, translating it to an NUnit filter with the right semantics. That's what issue nuni

[2016-07-20 17:50] adamralph commented on #125
@CharliePoole WRT to the developers who wrote the code, it's a reasonable defence :wink:

I don't want to blame people in retrospect for why the test explorer is in it's current state, but equally I'd like the flaws in the current design to be considered irrespective of how that current design came into being.

[2016-07-20 19:36] CharliePoole commented on #125
@adamralph Unfortunately, the only practical result of considering the flaws here is to acknowledge that we are not in a position to fix them. :-(

[2016-07-20 20:13] adamralph commented on #125
@CharliePoole yes, it seems so.

Out of interest, do you know how this is handled in other test runners, such as Resharper?

[2016-07-20 20:16] CharliePoole commented on #125
R# isn't an adapter, but a Visual Studio extension all its own. That means they handle the user interface themselves. I've thought of writing an NUnit extension for VS, but it's not a small undertaking. My priority is on the new nunit gui anyway.

[2016-07-20 20:27] adamralph commented on #125
@CharliePoole I see. So I guess the bottom line is that there is nothing that can be done without changes to the VS runner. Instead of taking the groupings selected, e.g. class/classes/project/projects, and exploding them into a list of tests and passing that list of tests to the NUnit adapter, it would neee to pass the groupings directly to the NUnit adapter, to it can make a decision to to ignor

[2016-07-21 03:19] CharliePoole commented on #125
I'm not terribly sanguine about getting Microsoft to change this, but you could try one of their user channels. @OsirisTerje can you suggest the best place to go?

[2016-07-21 11:21] adamralph commented on #125
@CharliePoole I won't hold my breath either :smile: I'm happy to at least raise the issue though.

[2016-07-21 14:50] OsirisTerje commented on #125
The best is probably to add a uservoice item in the visual studio channel there, and get enough votes.

[2016-07-21 15:40] adamralph commented on #125
Here we go https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/15312648-pass-intent-rather-than-a-list-of-tests-to-test

I'm not sanguine about the vote count it will gather :wink:

[2016-07-21 16:01] CharliePoole commented on #125
@OsirisTerje I recommend closing this.

[2016-07-22 09:28] OsirisTerje commented on #125
Agree

[2016-07-22 09:28] #125 closed

[2016-07-22 10:46] adamralph commented on #125
Thanks for all the info and help guys.

[2016-07-28 10:00] GrimaceOfDespair commented on #110
Fyi: I kept suffering from this on a consistent enough basis, that I switched to NUnit 3. The NUnit 3 adapter does not expose this behaviour, mabye thanks to the aforementioned fix.

For me, it's a post mortem, but fwiw, this was my flow:
- Build
- Run tests
- Change some code (not in the test project)
- Try to run test again

The last step would trigger a build of both the project and the test pr

[2016-08-03 22:27] CharliePoole commented on #120
Fixed by PR #124

[2016-08-03 22:27] #120 closed

[2016-08-11 13:41] pitlyck opened #126 "No tests found to run when TestFixture is a nested class"
Hi,

I am unable to run tests by selecting "Run Tests" from the context menu in VS2015 when the test fixture is a nested class.

Right-click in the window with code below, then select "Run Tests". In output window I can see output from tests: **No tests found to run.**

Example:
[code]

I can see the test in list of tests in Test Explorer window and I am able to run it from there, but this is not

[2016-08-11 14:36] rprouse commented on #126
Since this is an issue with the NUnit 3 adapter, I am moving this issue to that repository.

[2016-08-11 14:36] #126 closed

[2016-08-11 14:36] rprouse commented on #126
Issue moved to [nunit/nunit3-vs-adapter #218](https://github.com/nunit/nunit3-vs-adapter/issues/218) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-26 18:21] CharliePoole opened #127 "Change adapter package to use tools directory"
@CharliePoole commented on [Fri Aug 26 2016](https://github.com/nunit/nunit3-vs-adapter/issues/221)

Use of the lib directory creates unneeded references in the user project. At times, they cause problems, particularly in the case of the Mono.Cecil reference. For example, the user may want to reference a different version of that assembly than we use. In addition, this reference may give rise to d

[2016-08-26 23:16] CharliePoole commented on #9
Issue moved to [nunit/nunit3-vs-adapter #222](https://github.com/nunit/nunit3-vs-adapter/issues/222) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-26 23:16] #9 closed

[2016-08-26 23:20] #10 closed

[2016-08-26 23:20] CharliePoole commented on #10
Issue moved to [nunit/nunit3-vs-adapter #223](https://github.com/nunit/nunit3-vs-adapter/issues/223) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-12 13:42] theMickster opened #128 "nunit Test Adapter Not Compatible with TFS 2015 Build and Release Manager"
We've recently upgraded our nunit tests to 3.0 and are now seeing all test executions during the build and release process fail to execute. We are running **TFS 2015 Update 3** using the new Build and Release Manager products, and, specifically, the **Visual Studio Test** task to execute our tests. The task executes this tool  C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonE

[2016-09-12 15:27] CharliePoole commented on #128
I see from your console output that you are using the NUnit 3 Test Adapter rather than the NUnit Test Adapter, so I'm moving this issue there. Unfortunately, the names are a bit close and VS refers to both of them as the "NUnit Adapter".

[2016-09-12 15:27] #128 closed

[2016-09-12 15:27] CharliePoole commented on #128
Issue moved to [nunit/nunit3-vs-adapter #229](https://github.com/nunit/nunit3-vs-adapter/issues/229) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-05 07:48] ig-sinicyn opened #129 "[Suggestion] vs runner nuget package: do not modify project references"
As it is for now, installation of NUnit3TestAdapter package adds references to the NUnit3.TestAdapter and Mono.Cecil.* assemblies. These should not be uncluded as lib artifacts, .targets file should be used instead.

[xUnit](https://github.com/xunit/visualstudio.xunit/blob/master/xunit.runner.visualstudio.nuspec) as example.

[2016-10-06 15:48] CharliePoole commented on #129
I'm working on a build that will put the extension in the tools directory, possibly in time for the 3.5 release. The original adapter (circa 2010) had to be in the lib directory and we never changed it.

[2016-10-14 04:19] fsalas commented on #22
Hmmmm, I was about to open an issue, but perhaps is the same problem, what I discover is that if I have an abstract base test fixture class on one assembly and the derived test class in a different assembly and namespace then the tests are not found (tested on 3.5 with 3.4.1 Vs runner)

[2016-10-14 12:22] rprouse commented on #22
Is it only if the base is abstract? Does it still happen if the derived test has a [TestFixture] attribute?

[2016-10-14 15:59] CharliePoole commented on #22
@fsalas Can you show a simple example? Things that could change the outcome include:
 * which of the two classes has the TestFixtureAttribute (it doesn't belong on the abstract class, even though it works in some situations)
 * which of the two classes contains tests

Also, could you clarify if only some tests (those in the base) are not found or if the entire class is skipped.

If your info leads

[2016-10-14 21:23] rprouse commented on #101
I am going to close this as no-repro. Make sure you have the latest version of the adapter installed, it might have been fixed.

I have the following code,

[code]

And I can see and click on the source and it goes to the correct location,

![image](https://cloud.githubusercontent.com/assets/493828/19403087/db805808-9232-11e6-9f32-7ac69d6fb97a.png)

[2016-10-14 21:23] #101 closed

[2016-10-21 23:26] Retik commented on #22
I believe I am having the same issue. It appears to be caused by having two levels of abstraction. This is how I have it setup. In the code below, Test2 works fine and I can verify that both the OneTimeSetUp and the OneTimeTearDown methods get called. However, If I run Test1, it calls the OneTimeSetUp and then immediately calls the OneTimeTearDown without ever entering the Test1 method.

[TestFixt

[2016-10-21 23:35] CharliePoole commented on #22
@Retik When "running Test2" how do you do it? What version of the adapter are you using?

[2016-10-21 23:47] Retik commented on #22
Sorry, I just realized my mistake. I had other tests in my GlobalTests class that were getting run successfully so I noticed that the test that was failing to run had a parameter in it without a [TestCase]. My mistake, everything seems to be working correctly.

[2016-10-23 15:06] CharliePoole commented on #129
This essentially duplicates #127

[2016-10-23 15:06] #129 closed

[2016-10-23 15:15] CharliePoole commented on #99
No comments for eight months!!! I'll give it another month before closing. How do folks think this situation should be handled?

[2016-10-24 08:28] #14 closed

[2016-10-24 09:31] brunoss opened #131 "Adapter fails to discover tests"
The following messages appears on `output` Window after trying to rebuild my `Nunit` test project

[code]

Interestingly the last change that I made to my visual studio is that I put a product key on it. Before that the tests were able to be found.

This happened for me with Visual Studio Professional 2015
Version 14.0.25431.01 Update 3
Running as administrator

.Net Framework 4.5.2

NUnit version

[2016-10-24 10:03] brunoss commented on #131
The test discovery was successful after I changed the test to prefer 64 bits

Test -> Test Settings -> Default processor architecture -> x64

[2016-10-24 13:41] CharliePoole commented on #131
Since this is about the NUnit 3 adapter, I'm moving the issue to that project.

[2016-10-24 13:41] #131 closed

[2016-10-24 13:41] CharliePoole commented on #131
Issue moved to [nunit/nunit3-vs-adapter #248](https://github.com/nunit/nunit3-vs-adapter/issues/248) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-24 18:31] CharliePoole opened #133 "Implement use of .runsettings file"
Implement as for NUnit 3 adapter. Needed to support several other issues.

[2016-10-24 18:42] #127 closed

[2016-11-12 22:33] rprouse opened #135 "Support Visual Studio vNext 15.0"

[2016-11-13 17:31] CharliePoole opened #136 "Resolve conflicting Copyright statements"
@CharliePoole commented on [Sun Nov 13 2016](https://github.com/nunit/nunit3-vs-adapter/issues/265)

For historical reasons, we state that the copyright for the adapter is held by Charlie Poole in some places and by NUnit Software in others. It's not too terrible, since NUnit Software is a DBA of mine, but it's potentially confusing and should be resolved.

There is no good category for this, so I

[2016-12-02 04:20] jllblk commented on #81
I was having this same issue with Nunit 3.* and test runner 3.*. The only thing that identified the issue was using the Developer Command Prompt and running the "dotnet test" command. The issue which the command prompt surfaced was that the test-runner couldn't "Could not load file or assembly 'Microsoft.DotNet.InternalAbstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60

[2016-12-02 05:43] CharliePoole commented on #81
@jllblk The NUnit VS adapter does not support .NET tests.

[2016-12-07 00:09] CharliePoole commented on #136
As with issue nunit/nunit3-vs-adapter#265 I plan to resolve this in favor of "Charlie Poole" and to use standard headers on each file.

[2016-12-11 18:35] #135 closed

[2017-01-03 22:16] j2ghz opened #137 "Visual Studio 2017"
Is support planned?

[2017-01-03 22:32] OsirisTerje commented on #137
Yes

[2017-01-03 22:45] OsirisTerje commented on #99
I've been looking at doing it as your option 1 above in the NUnIt3 adapter and the same can be done here.

[2017-01-03 22:47] OsirisTerje commented on #137
I'll keep this as the issue for supporting VS2017.  We need to do the same here, converting it to support vsix3.

[2017-01-03 22:55] OsirisTerje commented on #137
@rprouse already fixed this in #135 , so all we need to do is to release this.  I'll close this, since #135 handles the changes that are needed.

[2017-01-03 22:55] #137 closed

[2017-01-03 23:57] CharliePoole commented on #137
@j2ghz FYI there will be a release but it's at the end of the queue after the framework, console and nunit 3 adapter releases so probably won't happen till the end of the month.

[2017-01-04 01:50] j2ghz commented on #137
Thanks for the info. I compiled it from master myself, installed and it works well enough for my purposes.

[2017-01-04 15:06] aleksandrov commented on #81
Have the same issue, it does not depend on VS adapter. "dotnet test" command from console just fail.

[2017-01-04 15:33] jllblk commented on #81
Go to project.json, under "dependencies" section and manually add a reference to "Microsoft.DotNet.InternalAbstractions:1.0.0.0", this fixed my issue.

[2017-01-26 12:36] jepzen opened #138 "NUnit3 tests makes nunit-vs-adpater to fail TFS build"
As Charlie mentioned in his answer http://stackoverflow.com/a/35193783/1016439 here the nunit-vs-adapter casues an exception when executed on TFS build. All tests get discovered and run but if another project contains NUnit 3 tests the whole build step get marked as failed even though all tests passes.

I attached a test run from a solution which contains both Nunit 2 and 3 in different projects.

[2017-01-30 08:59] richard-misiak opened #139 "Adapter V2 - Long testcase causes error in VS 2013 but not 2015"
In visual studio 2013 Professional V2.0.0 of the adapter with nunit 2.6.4 gives this error
[code]
for this test:
[code]

It works fine in Visual Studio 2015 however.
Removing this testcase/ or using a placeholder and setting the value within the test "fixes" it as well.

There are other tests in my project with very long test case name but this is the only one that fails and I think it might be so

[2017-03-07 16:04] LazyTarget commented on #138
We have this very issue, although only one test project in the solution and it only references NUnit 3 and the NUnit 3 Test Adapter. As the Stack Overflow answer suggests, that it is the NUnit 2 Test adapter that throws this error, but I can't see that it is being referenced anywhere.

* I've tried installing/disabling the .vsix extension on the build server.
* I've verified that the NUnit 2 adapt

[2017-03-07 18:15] CharliePoole commented on #138
@LazyTarget When you say it works on the dev machine, is that in the IDE or from the  command-line? This is a known problem only with vstest.exe - the IDE handles it fine.

Clearly, the NUnit2 adapter is __somewhere__ on your build machine. The messages starting "NUnit VS adapter 2.0.0.0..." are actually from the adapter. Is it possible that your build system is being restored from a saved image t

[2017-03-07 19:05] ChrisMaddock commented on #138
There's an accepted bug which may be relevant here - relating to vstest invoking adapters for projects with no reference to the adapter.

[2017-03-07 22:02] MaxG117 opened #142 "NUnit Test Adapter 2.1 doesn't work with projects that target .NET Framework 3.5 / CLR 2.0"
Tests for projects that target .NET Framework 3.5 / CLR 2.0 don't run with NUnit Test Adapter 2.1. I saw entries like "'System.BadImageFormatException' in nunit.util.dll" and "'System.InvalidOperationException' in Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.dll" in the Debug window. I'm guessing this is because Mono.Cecil added with #116 targets CLR 4.0.

I had to manually reinstall Test

[2017-03-07 22:34] pvandervelde commented on #142
It's not just .NET framework 3.5. I've seen errors appearing when running against .NET 4.5.2 as well. In my case I get:

    NUnit VS Adapter 2.1.0.7 executing tests is started
    Loading tests from C:\vcs\git\devinfrastructure\Components-Serialization\src\Components.Serialization.UnitTests\bin\Debug\Vista.DevInfrastructure.Components.Serialization.UnitTests.dll
    Dependent Assembly  of C:\vcs\

[2017-03-08 01:30] OsirisTerje commented on #142
@MaxG117 :   I can confirm this.  What I get is a BadImageFormatException, a AssemblyNotSupportedWarning in the executor.
And you're right, the Mono.Cecil dll's are 4.5, 3 out of 4.
@pvandervelde :  The message you get is different. Can be another variant of the same.

@CharliePoole  @rprouse :  The references are pointing to the 3.5 versions, but in the output we get the 4.5 versions.  I've check

[2017-03-08 01:51] pvandervelde commented on #142
I can open another issue if that makes more sense

[2017-03-08 01:53] OsirisTerje commented on #142
No, you can wait a bit.  I will get out a fix within a couple of days.  I can send over a nuget package you can test out first.

[2017-03-08 02:08] OsirisTerje commented on #142
[NUnitTestAdapter.2.1.1-b2.zip](https://github.com/nunit/nunit-vs-adapter/files/826402/NUnitTestAdapter.2.1.1-b2.zip)

The attached zip file is a pre-test of the fix.  It works on my repro solution here.  It would be great if you could check it out too.  Unzip the file, and copy the package to a local nuget folder, add that folder to your nuget package sources, and update to this adapter.  After t

[2017-03-08 02:30] CharliePoole commented on #142
@OsirisTerje It's a little confusing to me how it could even have been built that way, with a .NET 2.0 assembly referencing a .NET 4.0 assembly.

[2017-03-08 02:33] pvandervelde commented on #142
Ok I'm confused. How do I update to the adapter without the installer? I've unzipped the file and dropped the nuget package in my local nuget feed directory. So how do I update to the adapter from there?

[2017-03-08 02:35] CharliePoole commented on #142
@OsirisTerje Never mind that last - I see your previous comment now.

I had to deal with the same issue in the NUnit 3 adapter. I believe you may need to remove some references. See the NUnit 3 adapter release instructions, which explain how to remove some references each time certain packages are updated. It's annoying but necessary.

[2017-03-08 08:07] OsirisTerje commented on #142
@pvandervelde From your comment it seems you're using the vsix.  If you can change your approach for the test only and use the nuget adapter approach instead.  Read https://github.com/nunit/docs/wiki/Adapter-Installation and/or  Read the section "Providing 3rd party adapters through NuGet" in https://blogs.msdn.microsoft.com/visualstudioalm/2013/06/11/part-3-unit-testing-with-traits-and-code-cover

[2017-03-08 08:17] pvandervelde commented on #142
Sweet. I'll try that tomorrow when I'm back at work.

[2017-03-08 11:05] MaxG117 commented on #142
I'd prefer to test a vsix package.
And thank you!

[2017-03-08 19:20] pvandervelde commented on #142
I now get the following:

    ------ Discover test started ------
    NUnit VS Adapter 2.1.0.8 discovering tests is started
    Exception Mono.Cecil.AssemblyResolutionException, Exception converting Vista.DevInfrastructure.Components.Builds.Configuration.BuildDescriptionIdTest.EqualityContractVerifierTest.EqualsOperatorWithEqualObject
    Exception Mono.Cecil.AssemblyResolutionException, Exception

[2017-03-08 19:25] OsirisTerje commented on #142
@pvandervelde  It seems to be something else going on here, because this error happens at discovery.     It absolutely seems related to the Mono.Cecil, but I am not sure what this is.  Do you have the possibility to create a small repro file for this issue?

[2017-03-08 19:29] pvandervelde commented on #142
I'll see if I can make something. Will see if I can do it over lunch. Otherwise it'll be end of the day (working day has just started here in New Zealand)

[2017-03-08 19:36] OsirisTerje commented on #142
I also see the executor has a loading issue, so there seems to be some dll it is struggling with.  I have checked yet another time now, and all dll's in the package are .net 3.5.  If you open your unittests.dll in e.g. Jetbrains dotPeek or similar tool, you can see if the referenced dll's and also their references are really .net 3.5

[2017-03-08 21:35] pgurenko commented on #142
Same issue here. How to rollback the NUnit Test Adapter?

[2017-03-10 18:01] CharliePoole opened #143 "Visual Studio Test Adapter (NUnit 2) Crashes, Will Not Run or Debug Tests"
@DarthGregarious commented on [Fri Mar 10 2017](https://github.com/nunit/docs/issues/177)

I tried to run tests in Visual Studio 2015 for the first time since the latest adapter extension update. In one of my solutions, it just crashes. I am using NUnit 2.6.4 with the latest Visual Studio adapter and targeting .NET 4.5.

When debugging a test, it starts to run, but it stops abruptly when it says "

[2017-03-12 16:02] OsirisTerje commented on #142
Here is a vsix with Cecil version 3.5.  Can you check  @MaxG117 and @pvandervelde ?

[NUnitTestAdapter-2.1.1.zip](https://github.com/nunit/nunit-vs-adapter/files/836617/NUnitTestAdapter-2.1.1.zip)
(unzip to get the vsix)

[2017-03-12 16:04] OsirisTerje commented on #143
@DarthGregarious   Which framework version are you targeting ?   Can you please check with the nuget or vsix package enclosed with issue #142 , so that we can see if it is related to Mono.Cecil versions.

[2017-03-12 17:18] OsirisTerje opened #144 "Adapter requires test project pbd's to be generated for tests to be executed"
Same issue as we had on nunit3-adapter (https://github.com/nunit/nunit3-vs-adapter/issues/276) , and same fix is required.

[2017-03-12 17:20] OsirisTerje commented on #143
The "Cannot find or open PDB file" issue is the same as we had in the NUnit3 adaper, https://github.com/nunit/nunit3-vs-adapter/issues/276,  so I created a corresponding here #144 , and has done the same fix, pushing soon.

[2017-03-12 17:59] CharliePoole commented on #144
@Osirisrje In December you commented on nunit/nunit3-vs-adapter#276 that it was working correctly in NUnit 2. Did we change something in the release?

[2017-03-12 18:01] CharliePoole commented on #142
@OsirisTerje Take care with versions and build targets of Cecil as it is bundled with the engine __as well as__ being used by the adapter.

[2017-03-12 18:59] OsirisTerje commented on #144
I referred to the 2.0 version of the adapter, not the master-branch which had the new Cecil stuff

[2017-03-12 19:00] OsirisTerje commented on #142
@CharliePoole Thanks, Charlie.  I think I need you to keep an eye on the changes.  I'm on thin ice here.

[2017-03-12 19:28] CharliePoole commented on #144
Ah... now I get it.

[2017-03-12 22:06] CharliePoole commented on #142
Basically, part of the logic for using Cecil to locate test methods was that we were already using it in the engine, so it's already loaded when the adapter loads the engine. The engine, however, doesn't use the two dlls that support pdbs and mdbs respectively.

If we keep using Cecil, it may end up that having the engine provide source locations for the adapter is a cleaner solution. The gui may

[2017-03-13 15:06] DarthGregarious commented on #143
@OsirisTerje I downloaded the VSIX from #142 and tried to debug a test in Visual Studio 2015. It did the same thing. A pile of "Mono.Cecil.AssemblyResolutionException" (looks like one per test) culminating in the abrupt crash.

Let me know if you need me to try anything else.

[2017-03-13 15:42] OsirisTerje commented on #143
Which framework are you targeting?
Have you checked that your own dll's have corresponding pdb files ?

[2017-03-13 16:55] DarthGregarious commented on #143
It says 2.1.0.8 now.

[2017-03-13 16:58] DarthGregarious commented on #143
Debug output says "symbols loaded" for all of my DLLs.

[2017-03-13 17:00] DarthGregarious commented on #143
I'm currently targeting .NET 4.5 but based on other issues I read, I tried adjusting it all the way up to 4.6.1 without success.

[2017-03-13 19:09] OsirisTerje commented on #143
You're having something "interesting" in your code base, it is worthwhile to try to get to the root of this.  My standard repro, which checks mainly that it works on 3.5, and 4.6, works as it should.  Do you have any possibility to extract a small repro of this issue and upload it?   There might be something you do that triggers this behaviour and I am very curious about what that can be.

[2017-03-14 01:53] MaxG117 commented on #142
@OsirisTerje I installed the vsix you provided above and ran a few tests. It works. I ran the same test under Debug to compare the outputs from 2.1.1 and 2.0.0. 2.1.1 showed the following lines that were not observed in 2.0.0:

'vstest.executionengine.x86.clr20.exe' (CLR v2.0.50727: vstest.executionengine.x86.clr20.exe): Loaded 'C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO 14.0\COMMON7\IDE\COMMO

[2017-03-14 12:31] thomaslevesque opened #145 "Can't run tests in VS2017 (OutOfMemoryException)"
I'm unable to run tests for a project in VS2017. When I rebuild the project to populate the Test Explorer window, it doesn't show any test. The Output window for Tests show the following content:

[code]

For reference, here's the csproj:

[code]

It's a very small solution (only 2 small projects), and I have 8GB of RAM, so I don't think the issue can be explain by insufficient hardware. devenv.ex

[2017-03-14 13:11] ChrisMaddock commented on #145
There's a couple of issues for this already at the links below - they have workarounds too.

https://github.com/nunit/nunit3-vs-adapter/issues/300
https://github.com/nunit/nunit3-vs-adapter/issues/305

I'll close this one as a duplicate - let me know if I've missed something!

[2017-03-14 13:11] #145 closed

[2017-03-14 14:47] thomaslevesque commented on #145
Thanks @ChrisMaddock, I'll look at those workarounds.

[2017-03-17 09:27] Robert-INdotNET opened #146 "Visual Studio 2017: Test Adapter 2.1.0 can't find tests in Test Explorer"
In Visual Studio 2017 with the latest NUnit Nuget Packages the discovering of new tests doesn't work.

You can try it yourself:
Make a new Solution and a test project in Visual Studio 2017. Then add the latest Nuget Packages:
- NUnit 3.6.1
- NUnitTestAdapter 2.1.0

Write a simple TestFixture class, build the project. The Test Explorer can't find any tests.

While reading the issues here, I found a

[2017-03-17 10:24] OsirisTerje commented on #146
NUnit 3.* requires NUnit3TestAdapter .  See https://github.com/nunit/docs/wiki/Visual-Studio-Test-Adapter

So instead of downgrading NUnit, upgrade the adapter instead :-)

[2017-03-17 10:24] #146 closed

[2017-03-17 11:49] Robert-INdotNET commented on #146
Thank you - it works! The Nuget top list was misleading.

[2017-03-17 13:09] initram opened #147 "Fails to resolve assembly for base type of TestFixture if placed in a different dll"
We have a set of classes that are used as base classes for several TestFixtures in many different projects, so they have been placed in their own project and compile to a separate dll (that is placed next to the assembly containing our TestFixture).

When I try to run my unit tests Mono.Cecil fails to load the assembly containing the base class. After debugging the issue it seems that the working

[2017-03-17 16:47] CharliePoole commented on #147
1. What version of the adapter are you using?

2. Where is the base fixture assembly WRT the original test assembly?

3. Is the problem __only__ with locating the source code (as your change would suggest) or is the test not found in discovery and/or execution? To put it differently, exactly what symptoms do you see.

[2017-03-17 20:00] initram commented on #147
I was using latest extension available for vs2017. But was also seeing the issue when building from source (master)

The two assemblies are side by side in the output directory of the test assembly project.

I could see the tests in the test explorer but was unable to run them. When trying to run the test the output was that it could not load my test assembly due to missing dependency.

[2017-03-17 20:08] CharliePoole commented on #147
Just to confirm: you are using the __NUnit (2) VS Adapter__ and not the __NUnit 3 VS Adapter__, right?

[2017-03-17 20:09] initram commented on #147
That is correct and also the latest nunit 2 release to go with it.

[2017-03-18 08:08] initram commented on #143
I think this could be the same issue that I reported in #147. I got the same error message: dependant assembly not found.

[2017-03-19 19:58] OsirisTerje commented on #144
Fixed in release 2.1.1

[2017-03-19 19:58] #144 closed

[2017-03-19 20:00] OsirisTerje commented on #142
Basic issue with .net framework 3.5 fixed in release 2.1.1 today.
@pvandervelde : Can you add a new one for your issue?  And, I would still appreciate a repro, if you can make it.

[2017-03-19 20:00] #142 closed

[2017-03-20 18:59] DarthGregarious commented on #143
You might be on to something there. I removed _everything_ except a very simple `Assert(true,` Is.True)` test from my test project and I was able to debug the test. I added my base "UnitTests" class back and it crashed. The base class is not in another DLL though.

The base class has some set up code. When it is commented out, debugging works. When it is not, it crashes. I am going to keep working

[2017-03-20 19:06] initram commented on #143
What I did was to download the source of the adapter to build it and get pdb files. With that you can debug the unit test and set break on all exceptions (remember to find and uncheck "only my code" debug setting). With this you can step through the adapter code when it fails.

[2017-03-20 19:14] DarthGregarious commented on #143
OK, I'll give that a shot.

I found that the line that's killing the adapter is coming from another DLL: our proprietary ORM library. I know it does all kinds of assembly loading, so it could be something in there causing a problem...

[2017-03-21 17:24] DarthGregarious commented on #143
@OsirisTerje I think this project reproduces the problem. Git history of attempting to reproduce is included.

[break-nunit-adapter.zip](https://github.com/nunit/nunit-vs-adapter/files/859076/break-nunit-adapter.zip)

[2017-03-21 17:28] DarthGregarious commented on #143
The basic setup:
1. A "main" test library (the one you're trying to debug). At least one test extends a base class from the secondary test library (see below).
2. A secondary test library (contains a base class for one of the tests in main that extends a base class in the precompiled shared test library, below)
3. A precompiled shared test library (contains an abstract base class for one of the te

[2017-03-21 17:30] DarthGregarious commented on #143
The result: you cannot debug any test in the "main" test library.

[2017-03-21 21:11] OsirisTerje commented on #143
Thanks!  That repro was great!    With it I can repro what I think is what you mean, let me walk through it:
![image](https://cloud.githubusercontent.com/assets/203432/24170801/54e0010a-0e82-11e7-8735-2365ac044996.png)

1. Look at the tests (5) and (6), 5, is run, which is in the OTherTestLibrary, whereas 6, in the TestLibraryMain is crashing.  Does this match what you see?

2. If I try to debug t

[2017-03-21 21:19] DarthGregarious commented on #143
Yes, I can confirm everything you stated. I see the same failures, the same exception. I also removed the SimulatedPrecompiledCommonLibrary and still saw a failure.

[2017-03-22 08:11] initram commented on #143
Have you tried the "fix" from my case #147, to see if it solves the issue? It sounds like a very similar issue, if not the same.

[2017-03-23 14:29] OsirisTerje commented on #143
@initram I think you found the issue there, thank you!!!  , Mono.Cecil doesn't search the right directories.   Based on your finding, I added the directories for the types found into an assembly resolver that the resolve method uses.   I pushed up the changes to a branch named  Issue143, and will create a pull-request - we'll wait with any merging until it is checked out.

I've enclosed the vsix a

[2017-03-23 14:37] tparikka commented on #105
If anyone still watching this issue wants to raise this to Microsoft, I've added a Uservoice request for it at the request of Microsoft's social media team as they told me they had no previous requests for this enhancement.

https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/18701998-codelens-doesn-t-detect-parameterized-nunit-tests

[2017-03-23 15:52] DarthGregarious opened #150 "When Debugging UI Tests, Visual Studio No Longer Breaks on Exception"
Visual Studio is no longer pausing execution while debugging NUnit/Coypu UI tests. In Debug Output, it is showing an InvalidOperationException and an IOException related to attempting to communicate over a pipe that has already been broken/terminated.

It used to break automatically on these exceptions and let you inspect the program. Now it seems to just crash when it encounters an unhandled exce

[2017-03-23 15:56] DarthGregarious commented on #150
![image](https://cloud.githubusercontent.com/assets/7608479/24256837/95360da6-0fbf-11e7-8e33-e8a506a0adf0.png)

When attempting to debug the CoypuExceptionTest (which only throws an exception), it simply exists prematurely and shows this output.

[2017-03-23 17:05] OsirisTerje commented on #147
See comment on #143 , contains a zip file with nuget and vsix with a beta fix

[2017-03-23 17:06] OsirisTerje commented on #150
Does this also happens with the fixed adapter I enclosed on #143 ?

[2017-03-23 17:38] DarthGregarious commented on #150
Yes.

[2017-03-23 19:09] OsirisTerje commented on #143
@DarthGregarious Can you confirm if this case now works on your machine too?  I want to be sure about that before attacking the #150

[2017-03-23 19:23] DarthGregarious commented on #143
Yes, I am able to run and debug my tests again using the adapter that you provided here. I believe the issue I described here has been fixed by your changes.

The adapter you provided does not address the "break on exception" problem described in #150 .

[2017-03-23 19:44] OsirisTerje commented on #150
Well, it works on my machine :-)
![image](https://cloud.githubusercontent.com/assets/203432/24267101/773f3904-1009-11e7-8271-b4a44045fc18.png)

Using this exception setting
![image](https://cloud.githubusercontent.com/assets/203432/24267115/8680aa6a-1009-11e7-952c-7c1c80962411.png)

[2017-03-23 20:17] DarthGregarious commented on #150
Yes, that works... but I never had to do that before. And in my actual UI test it caused the execution to break at least 30 times before I had to add a specific exception for Microsoft.CSharp.RuntimeBinder.RuntimeBinderException. Only then did it finally make it to the MissingHtmlException.

Interestingly, immediately after that, it also paused on an exception I hadn't seen before: a "rethrown" Mi

[2017-03-23 20:31] DarthGregarious commented on #150
I downgraded to v2.0 of the VS Adapter and used the default exception settings and... it did not pause on the MissingHtmlException. I am going to have to do more investigation to figure out what changed here.

[2017-03-23 20:33] OsirisTerje commented on #150
Ok, at least that makes sense.  When you're in there, please also check on the 2.0 adapter whether you get the exception wrapping the same way.

[2017-03-24 07:33] initram commented on #147
Your version solves my issue. I used the VSIX. Thank you! When can I expect this as part of a normal release?

[2017-03-24 08:41] OsirisTerje commented on #147
I am a bit uncertain.  I'm waiting for @CharliePoole's answer to my last comment in #143.  It will probably be in 2.2, but it could also be out on a beta-feed.  The version number will be above the one you have now, so it will be upgrade-able.  The same applies for the nuget package.

[2017-03-24 09:03] CharliePoole commented on #147
@OsirisTerje I checked #143 but didn't see any questions for me to answer.

[2017-03-25 20:38] OsirisTerje commented on #150
I'll close this for now.  If you find something here that really doesn't work, we can just reopen the issue.

[2017-03-25 20:38] #150 closed

[2017-03-26 15:17] markvogt opened #151 "VS2015 Intellisense recognizing [Test] attribute... but NOT [ExpectedException] - bug??"
SHORT STORY:
VS2015 Intellisense with JUnit package added to solution DOES recognize [Test] atttribute, but DOESN'T recognise [ExpectedException(typeof(stuff))] or [Test, ExpectedException(typeof(stuff))]   :-( ...

DETAILS:
1. veteran VS/C#/SharePoint developer; newbie in some newer tools (hey, it happens - or will - to ALL of us);
2. dev VM running Windows Server 2012 R2 64 bit | Visual Studio 2

[2017-03-26 15:30] OsirisTerje commented on #151
Intellisense is fantastic :-)  It actually tries to tell you there is no ExpectedException attribute in NUnit3 and indeed it is correct :-)
It has been deprecated, and you should use the Assert.Throw https://github.com/nunit/docs/wiki/Assert.Throws  and https://github.com/nunit/docs/wiki/Assert.ThrowsAsync  or Assert.That ( somemethod, Throws ) instead.  or for the That syntax  see  https://github

[2017-03-26 18:11] OsirisTerje opened #152 "Add the nuget package for the adapter to the MyGet feed."

[2017-03-26 18:14] #151 closed

[2017-03-26 20:04] CharliePoole commented on #152
Coincidentally, I just uninstalled VS 2017 - planning to re-install. But I'll work this one in the editor and use AppVeyor as my build system. Note that we can't actually test this working before we merge, because we don't deploy to MyGet till after the merge. However, we can make sure nothing is broken first anyway.

[2017-03-27 00:06] markvogt commented on #151
Osiris,
Thanks !
-Mark

[2017-03-27 01:52] #152 closed

[2017-04-04 07:02] prakash9pandu09 commented on #102
I have installed Nunit 3 and Nunit3TestAdaptor and i am getting an error during TFS build
Exception NUnit.Core.UnsupportedFrameworkException, Exception thrown executing tests in D:\Builds\8\349\bin\MVCProject.Tests.dll. i have uninstalled all nunit 2.0 related dlls.
can anyone help me how to resolve this exception

[2017-04-04 08:22] OsirisTerje commented on #102
@prakash9pandu09  You need to give us a little bit more details.
Also, how does it work locally.  Version...  Types of project...
Did it work before?

[2017-04-20 21:28] Kanwar27 commented on #133
Hi,
I am using Nuget package NunitTestAdapter vs2.1.1. Would it be possible to supply command line arguments specific to an assembly? Thanks

P.S. Forgive me if I posted the question at a wrong place.

[2017-04-24 22:16] CharliePoole commented on #133
@Kanwar27 If we implement this (see next paragraph) then it would have the same features as the NUnit 3 VS adapter, which includes parameters for use by your tests.

I'm taking this off the backlog for the moment and marking it for discussion. It's not clear if there will be a separate V2 adapter in the future or if the two adapters will be merged. There's no point in adding features to this one i

[2017-04-24 22:18] CharliePoole commented on #15
Marking this for discussion until it is clear what the future holds for this adapter.

[2017-04-25 01:12] Kanwar27 commented on #133
Thanks for your reply.

Infering from coversation above I presume we would have something similar for Nunit in .runsettings file.

Would it be possible to provide debug args as we could do for nunit Gui?

Problem is we have multiple class library projects which are being run from Nunit console application. Switching to Nunit adapter leads me to loose ability for specifying "Debug" command line arg

[2017-04-25 02:31] rprouse commented on #133
@Kanwar27 which functions have been removed in NUnit 3 that you rely on? The only major breaking change that most people complain about is the removed `ExpectedException` attribute and there are [workarounds for that](https://github.com/nunit/nunit-csharp-samples/tree/master/ExpectedExceptionExample).

Also, if you are using the adapter in Visual Studio, why do you also need the GUI? Just trying t

[2017-04-25 13:23] Kanwar27 commented on #133
@rprouse  Thanks for providing workaround link. That, would help me to go to 3.x

Just need a way to pass Command line arguments inside Debug. Please refer to image below:
![image](https://cloud.githubusercontent.com/assets/13392613/25387276/45858b5e-2998-11e7-94e9-050b41ca2306.png). If I could do this in adapter would happily leave the GUI.

Regards
Kanwarpreet.

[2017-04-25 17:07] CharliePoole commented on #133
@Kanwar27 The option panel you are showing is part of Visual Studio, not the NUnit Gui. It has a space for setting the arguments of a program called "NUnitHost", which seems to be your own program. You can set the options for any executable you run, including nunit3-console.exe, if you choose to use that.

Perhaps it would be clearer for us if you indicated what kinds of options you want to set in

[2017-04-25 17:47] rprouse commented on #133
@Kanwar27 if NUnitHost is your own NUnit test runner, as @CharliePoole said, you can do the same thing by setting **Start external program** in your test project (likely not NUnitHost) to the path to nunit3-console.exe and in the command line arguments, pass `--inprocess path\to\yourtests.dll` plus any other arguments that you need.

[2017-05-18 04:00] vivrao commented on #81
Hi,

 I am also seeing no Tests in Run Tests while using NTest with Visual Studio 2015 Enterprise Solution. I have tried all the above mentioned steps except the last one mentioned by **jllblk**.

Could not locate the option in Microsoft.Any help on the same will be highly appreciated.

[2017-05-18 22:08] rprouse commented on #81
You need to use `dotnet-test-nunit` for VS2015 .NET Core or .NET Standard. See https://github.com/nunit/dotnet-test-nunit

[2017-06-21 06:32] #136 closed

[2017-06-21 09:49] abhishekkumawat23 opened #155 "[vstest.console][NUnit3Adapter] Using Category as TestCaseFilter throws error"
Hello,

We are Automated Testing team from Microsoft.

**Issue**:
We observed that in NUnit3.TestAdapter, Category can't be given as TestCaseFilter.

**Repro steps**:
1. Refer attached project for sample NUnit project.
2. In sample project, create a NUnitTest project. Write some tests in it. For few of the tests add Category("Manual")
3. Run following command to run tests:
_vstest.console.exe <NUn

[2017-06-21 09:52] abhishekkumawat23 commented on #155
Note: **Please change the attachment extension from jpg to zip as I was facing some issues with attaching files with zip extension.**
![nunittestproject1](https://user-images.githubusercontent.com/4899546/27378362-43ef6a10-5695-11e7-9f21-7dc639605481.jpg)

[2017-06-21 09:54] abhishekkumawat23 commented on #155
**Note**: Please change attachment extension from pdf to zip (I was facing some issue with attaching files with zip extension. Thus changed zip extension to pdf)
[NUnitTestProject1.pdf](https://github.com/nunit/nunit-vs-adapter/files/1091108/NUnitTestProject1.pdf)

[2017-06-21 10:04] CharliePoole commented on #155
The NUnit3 adapter does not parse the filter expression used in the TestCaseFilter option. This is done by vstest.console, which passes us a list of tests to execute. Hence, you have to use the syntax recognized by vstest, which is Test category.

[2017-06-21 10:16] OsirisTerje commented on #155
Just to enhance what @CharliePoole  said:  See post
https://blogs.msdn.microsoft.com/devops/2013/06/11/part-3-unit-testing-with-traits-and-code-coverage-in-visual-studio-2012-using-the-tfs-build-and-the-new-nuget-adapter-approach/
In there, see table:   VSTest name:  TestCategory   ==  NUnit : Category  == MSTest TestCategory

[2017-06-21 10:21] CharliePoole commented on #155
See also nunit/nunit3-vs-adapter#47 , which discusses the possible alternative ways of handling these filters, including parsing the expression ourselves.

BTW, this issue should actually be in the nunit3-vs-adapter repository rather than this one. I won't bother moving it, since we are closing, but please use that repo for future issues against the nunit 3 adapter.

[2017-06-21 10:21] #155 closed

[2017-06-22 07:11] abhishekkumawat23 commented on #155
@CharliePoole @OsirisTerje : In https://github.com/nunit/nunit3-vs-adapter/blob/18d0d2bab627e6c568bc34482e5a621133176df9/src/NUnitTestAdapter/TFSTestFilter.cs, NUnit is specifically mapping TestCategory property to Category trait in SupportedProperties.

Unlike mstest, vstest.console understands all syntaxs as defined in SupportedProperties. So if Category property is mapped to Category trait in S

[2017-06-22 08:15] OsirisTerje commented on #155
1) Yes, issue should be in the nunit3-testadapter repo.
2) In which version of vstest did it support all properties?  Afaik it didnt do so in TFS2012.
3) Will older versions accept this trait in both VS and TFS ?
4) If we add the same trait as both TestCategory and Category, it will appear twice in the category list in Test Explorer, which is not a nice experience.

And to let us understand this:

[2017-06-27 12:49] abhishekkumawat23 commented on #155
@OsirisTerje We are discussing it with Unit Testing team. I will create the issue in nunit3-testadapter along with answer to your queries shortly.

[2017-06-30 06:28] AjitKumarSahoo commented on #81
I had similar issue in which my test was not getting listed after build. In my case, the project that I had created was configured for x64, and by default the "Default Processor Architecture" for the Testing framework was x86. Changing the default processor architecture under Test-->Test Settings to x64 resolved the issue in my case.

[2017-06-30 08:44] OsirisTerje commented on #81
FWIW:  I have a blog post here http://hermit.no/how-to-control-the-selection-of-test-runner-in-tfsvsts-making-it-work-with-x86x64-selected-targets/ discussing the x64/x86 test issue and methods on how to solve it with VS and TFS.

[2017-07-02 18:57] shishirroy1982 commented on #93
Its working for me also. Although I have removed all the references of NUnit2

[2017-07-08 01:40] jeromelaban opened #156 "Test discovery fails if the pdb format is "portable""
Using version 2.1.1 of the test adapter, in VS2017 Update 2, the test discovery fails with this error:

`Exception System.InvalidOperationException, Exception converting MyTest.`

Upgrading the Mono.Cecil package to the latest version (0.10.0-beta6), or using full pdb format fixes the issue.

[2017-07-08 02:32] CharliePoole commented on #156
IIRC, we can't target .NET 2 if we use the latest Mono.Cecil.

[2017-07-10 08:47] DavidKarlas commented on #156
I guess this adapter also needs https://github.com/nunit/nunit3-vs-adapter/pull/350

[2017-07-11 09:39] UnderHeavyDevelopment opened #157 "NUnit v3 not running tests with AutoFixture.NUnit3.AutoData attribute"
Tests marked with **[AutoData] attribute** are not run by NUnit test runner.

Platform: **.NET Framework 4.6.1**
Required nugets:
- AutoFixture v3.50.2
- AutoFixture.NUnit3 v3.50.2
- NUnit v3.7.1

Example:

[code]

Such test:
- does not run when clicking Run Test
- does not run when executing Run All
- **is discovered** (!), means is displayed in **Test Explorer** window, but under **Not Run Tests

[2017-07-11 09:44] ChrisMaddock commented on #157
I believe this is a duplicate of https://github.com/nunit/nunit3-vs-adapter/issues/342

Closing - let me know if I've missed something and should reopen!

[2017-07-11 09:44] #157 closed

[2017-07-11 11:38] UnderHeavyDevelopment opened #158 "NUnit v3 does not discover test when TestFixture inherits from class in different assembly"
When I run test that is in **test fixture that inherits from class containing [SetUp] AND/OR [TearDown] AND/OR [TestFixture] attribute and is located in different assembly**, then test is NOT discovered.

VS Output:
[code]

Platform:
- .NET Framework 4.6.1
- VS2017 (15.2 26430.15)
- NUnit 3 Test Adapter 3.7.0.0

Required nugets:
- NUnit v3.7.1

Example:

[code]

Consider Following cases:

1. TEST

[2017-07-11 12:59] UnderHeavyDevelopment commented on #158
**I have the solution: Project Different had NUnit v3.7.1 package, but Project Same had NUnit v3.6.1.**
I wonder if this can be somehow printed as an error in Output, not "No tests found to run"?

[2017-07-11 12:59] rprouse commented on #158
Excellent report, thank you. I expect that this is an issue with the NUnit Framework, not the adapter. Can you confirm that the tests are not found when you run the tests with the NUnit Console?

We had a similar issue reported nunit/nunit#2014, but it could not be reproduced. I also have tests that do the same thing that work fine.

[2017-07-11 13:01] rprouse commented on #158
@UnderHeavyDevelopment our posts crossed 😄

I am going to move this to the framework repository as it is a general issue. I am not sure how we can easily detect if you are using multiple versions of the framework, but we will look into it.

[2017-07-11 13:01] rprouse commented on #158
Issue moved to [nunit/nunit #2316](https://github.com/nunit/nunit/issues/2316) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-11 13:01] #158 closed

[2017-07-12 13:28] jnm2 commented on #156
Who wants to take this?

[2017-07-12 13:49] rprouse commented on #156
We should implement nunit/nunit3-vs-adapter#350 although it will not fix this for Update 2 of 2017. Those changes are coming in 15.3 and even now they are hidden behind a feature flag, From the RFC,

[2017-08-05 15:30] mwpowellhtx opened #159 "VS2015 Test Adapter does not see "naked" Test method override as a Test method"
I did not mine the current issues for anything similar. If it's a duplicate, please mark it as such. Also, I haven't verified across *Visual Studio* versions (i.e. 2012, 2013, 2017, etc).

It is easier to illustrate what's going on. In the following example, the **Adapter** does not **see** the overridden ``Verify`` method as a ``Test`` method.

[code]

However, as soon as I add the ``TestAttribut

[2017-08-05 15:39] CharliePoole commented on #159
This is most likely not an issue with the adapter. The adapter's only responsibility is to forward to VS the tests that the NUnit Test Engine gives it. The engine, in turn, forwards the tests it gets from the framework. Actual detection of tests takes place in the framework.

To my knowledge, as the author, there is no code in the adapter that fails to pass on tests to VS based on attributes. In f

[2017-08-05 15:44] mwpowellhtx commented on #159
@CharliePoole So, in other words, my path forward there is v3; fair enough, no problem. It's easy enough to decorate with *TestAttribute* when necessary.

For NUnit v2/v3 migration paths, just be aware, when attributes are ***Inherited=true*** (the default, I think), one expects those details to *propagate*. That's *not* currently happening for v2.6.4 *TestAttribute*, as contrasted with *TestFixtu

[2017-08-05 15:47] mwpowellhtx commented on #159
Just for sake of discussion, literally, this is the code that is exposed via inspection:

[code]

[2017-08-05 15:58] CharliePoole commented on #159
See
https://github.com/nunit/nunitv2/blob/master/src/NUnitCore/core/Builders/NUnitTestCaseBuilder.cs#L46

On Sat, Aug 5, 2017 at 8:47 AM, Michael W Powell <notifications@github.com>
wrote:

[2017-08-05 16:01] CharliePoole commented on #159
Hopefully, this info will help you present the issue in a light that gives
it a bit of a chance to be accepted. :-)

Charlie

On Sat, Aug 5, 2017 at 8:58 AM, Charlie Poole <charliepoole@gmail.com>
wrote:

[2017-08-05 16:03] CharliePoole commented on #159
HI Michael,

Actually, TestAttribute and TestFixtureAttribute are propagating in exactly
the same way. The difference is that override and new have no meaning for a
class.

Charlie

On Sat, Aug 5, 2017 at 9:01 AM, Charlie Poole <charliepoole@gmail.com>
wrote:

[2017-08-05 16:13] CharliePoole commented on #159
Based on a quick look at the code, I believe we maintained compatibility WRT the treatment of overrides when we went to NUnit 3. Any change we would make is breaking, but perhaps not seriously.

I'm going ahead and moving this to the right place. Seeing the code is actually confirmation enough for me.

[2017-08-05 16:14] CharliePoole commented on #159
Issue moved to [nunit/nunit #2349](https://github.com/nunit/nunit/issues/2349) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-05 16:14] #159 closed

[2017-10-25 03:45] codito commented on #156
There's a port of nunit/nunit3-vs-adapter#350 to nunit2 here: https://github.com/nunit/nunit-vs-adapter/pull/160. @jnm2 @rprouse @OsirisTerje can you please review this?

[2017-10-25 04:57] CharliePoole commented on #156
Team members receive a notice when you submit a PR but it sometimes takes a few days before someone has time to review it.

[2017-10-27 22:04] OsirisTerje commented on #156
@codito Will review this as soon as I have 3.9 out for the NUnit3TestAdapter.

[2017-10-29 20:34] Erezinho opened #161 "NUnit v2 Test Adapter to support .runsettings file"
Hi
While working with a 3rd party tool which relies on NUnit 2, and running night builds with TFS vNext 2017, we need a way to pass on some parameters to NUnit.
As I read, with NUnit 3 adapter it is easy since it supports .runsettings.

Any possibilty to add this capability in the (very) near future?
Thanks!!

[2017-11-05 20:56] OsirisTerje commented on #161
Hi!  We will be adding *some* of the parameters from the runsettings to this adapter, but had really hoped people could migrate to NUnit3.
I would like to ask you some questions:

1. What is the reason the 3rd party tool can't go to NUnit3?   Can you elaborate a bit on how you use it, and what prevents it?  Also, what 3rd party tool is this?
2.  What parameters do you need to send to NUnit?  Note

[2017-11-06 00:35] rprouse commented on #161
Would it not be more appropriate to ask the 3rdParty tool to start supporting NUnit 3 which has been out for 4 years now? Just asking 😄

[2017-11-06 01:58] CharliePoole commented on #161
@Erezinho Same question as @rprouse plus "How do you run your tests now?" 😃

[2017-11-07 09:10] Erezinho commented on #161
Hi All,

1) The 3rd party tool is Difido-reports and a short discussion about shifting to NUnit3 has already been taken.
Please see here: https://stackoverflow.com/questions/38749270/how-to-use-itesteventlistener-in-nunit-3
Difido listens to NUnit’s events and log some data internally (elastic) to be displayed for end users.

2) We run our tests mostly from TFS vNext Build system and sometimes (du

[2017-11-08 07:04] OsirisTerje commented on #161
3)  Sorry for confusing you, but what we need to consider this is which **runsettings** parameters you need. We can't implement them all, and the NUnit2 doesn't even support all possibilities.    If unsure, please see the template here:  https://marketplace.visualstudio.com/items?itemName=OsirisTerje.Runsettings-19151  .  (The settings we currently support is those that are in the registry setting

[2017-11-08 07:12] OsirisTerje commented on #138
Is this still the case?

[2017-11-08 13:20] Erezinho commented on #161
I read the Tips and Tricks and some more and trying to understand:
The adapter which basically allows execution of NUnit from VS may use .runsettings to load different configurations.
The .runsettings holds, among others, some configurations used to be stored in registry but not anymore .
Now, can the .runsettings have some NUnit command line parameters like ‘runlist’ (under  for <!—Nunit -->) whi

[2017-11-08 15:46] CharliePoole commented on #161
The `.runsettings` file is used by the NUnit 3 adapter, where we basically took some of the command-line arguments from nunit3-console and defined settings in the file. Many settings are not there, however, because they don't make sense in the VS environment. You can see a sample `.runsettings` file that lists the supported values for that adapter here: https://github.com/nunit/nunit3-vs-adapter/b

[2017-11-09 11:23] Erezinho commented on #161
Thanks for the clarifications.

The console settings that would be very useful to have with the adapter are:
1) --result (/result) . I saw you wrote it does not make sense but I'll try to explain the motivation: Since the adapter is used with TFS build system, using this parameter in the runsettings will allow you to get the results directly (nunit's raw data) and not to relay on VS to show it or